.freeReleaseList{
    font-size: 1em;
    background-color: #f5f5f5;
    height: calc( 100vh - 8.4em );

    .freeReleaseList_buttons{
        font-size: 1em;
        height: 1.4em;

        background-color: #dcebef85;
        border: 1px solid #7a7ae32e;

        display: flex;
        justify-content: flex-end;
        align-items: center;
        align-content: center;

        position: relative;
        
    }
}