.PBC_CountersFiles{
    font-size: 1em;
    height: calc( 100% - 3.8em );

    .PBC_CHF_item{
        font-size: 1em;
        margin: 0.3em 0;
        background-color: #ffffff25;
        border-radius: 0.1em;
        padding: 0.1em 0.4em;

        h4{
            font-size: 1em;
            padding: 0.1em 0;
            span{
                font-size: 0.65em;
                padding: 0.2em 0.5em;
                border-radius: 0.1em;
            }

            .PBC_CHF_item_cat_count{
                // background-color: red;
                // padding: 0.1em 0.2em;
                margin-right: 0.5em;
                color: #ffffff;
            }

            .PBC_CHF_item_cat_name{
                padding: 0.2em 0.5em;
            }
        }

        h4.PBC_CHF_item_event{
            padding-left: 1em;

            span{
                font-size: 0.6em;
                padding: 0.2em 0.5em;
                border-radius: 0.1em;
            }

            .PBC_CHF_item_ev_count{
                // background-color: red;
                // padding: 0.1em 0.2em;
                margin-right: 0.5em;
                color: #ffffff;
            }

            .PBC_CHF_item_ev_name{
                padding: 0.2em 0.5em;
                border-width: 1px;
                border-style: solid;
            }

        }

        h4.PBC_CHF_item_fileName{
            padding-left: 2em;
            

            span{
                font-size: 0.6em;
                padding: 0.35em 0.5em;
                border-radius: 0.1em;
            }

            .PBC_CHF_item_file_count{
                margin-right: 0.5em;
                color: #ffffff;
                // background-color: #525252;
            }

            .PBC_CHF_item_file_name{
                padding: 0.35em 0.9em;
                background-color: #ffffff;
                color: #252323;
            }

        }

        // >div{
        //     font-size: 1em;
        //     display: flex;
        //     justify-content: flex-end;
        //     align-items: center;
        //     align-content: center;
        //     margin: 0.1em 0.1em;

        //     span{
        //         font-size: 0.65em;
        //         padding: 0.2em 0.3em;
        //         text-align: center;
        //         background-color: #f5f4f4;
        //         width: 6em;
        //         margin: 0 0.05em;
        //         border-radius: 0.1em;

        //     }

        //     .PBS_startTime{
        //         color: #767780;
        //     }

        //     .PBS_duration_time{
        //         color: #237f2b;
        //     }
        //     .PBS_duration_procent{
        //         color: #2f3ec7;
        //     }
        //     .PBS_duration_sec{
        //         color: #343434;
        //         >span{
        //             margin: 0 0 0 0;
        //             font-size: 0.9em;
        //         }
        //     }

        // }


    }


}