@import './../../AC_EventsTree/AC_EventsTree.scss';

.AC_EventsTree{
    table{
        tbody{
            tr{
                td.TdEvent{
                    // padding: 0.2em;
                    border: 1px solid #e5e0e0;
                    width: 14em;
                    // vertical-align: middle;

                    >div{
                        font-size: 1em;
                        width: 14em;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        align-content: center;
                        white-space: nowrap; 
                        overflow: hidden; 
                        height: $tbody-tr-height;

                        >span{
                            font-size: 0.65em;
                            padding: 0.2em 0.9em;
                            margin: 0 0.3em;
                            border-radius: 0.1em;
                            border-width: 1px;
                            border-style: solid;
                            display: inline-block;
                            text-overflow: ellipsis; 
                            white-space: nowrap; 
                            overflow: hidden; 
                        }  
                    }
                }
            }
        }
    }
}