.grigItem{
    font-size: 1em;
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;

    padding: 0.1em 0em;

    .grigItemWrap{
        font-size: 1em;
        // margin: 0em 1em;
        padding: 0em .1em;
        border-radius: 0.1em;
        max-width: 90vw;
        width: 100%;

        background-color: #ffffff14;
        border-radius: 0.1em;
        padding: 0.3em 0.4em;

        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: center;


        .grigItemTime{
            font-size: 1em;
            flex-grow: 0;
            padding: 0.1em 0;

            .ETS_time{
                font-size: 0.7em;
                color: #343434;
                background-color: #ffffff;
                padding: 0.2em 0.5em 0.1em;
                margin: .6em 1.2em 0 1em;
                width: 4.6em;
                border-radius: 0.1em;
                flex-grow: 0;
                text-align: center;

                cursor: pointer;
            }

            .ETS_time:hover{
                color: #343434;
                background-color: #e5e3e3;
            }

            .ETS_time.isKeyPoint{
                background-color: #ab3928;
                color: #ffffff;
            }

            .ETS_time.isKeyPoint:hover{
                background-color: #ef6a56;
                color: #ffffff;
            }

            
            .ETS_duration{
                font-size: 0.7em;
                color: #343434;
                background-color: #ffffff;
                padding: 0.2em 0.5em 0.1em;
                margin: .6em 1em 0 0em;
                width: 4.6em;
                border-radius: 0.1em;
                text-align: center;
                flex-grow: 0;
        
            }
        }

        .grigItemTimeRemains{
            font-size: 0.9em;
            flex-grow: 0;
            padding: .2em .8em 0.19em;
            border-radius: 0.1em;
            margin-left: 5em;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            
            >.text{
                font-size: 0.7em;
                color: #575757;
            }
            >.time{
                font-size: .7em;
                color: #efe6e6c9;
                border: 1px solid #c1c1c1;
                border-radius: .1em;
                padding: .2em .6em 0.1em;
                margin-left: 0.5em;
        
            }
        }

        .grigItemTimeRemains:hover{
            background-color: #607eb3;
            >.text{
                color: rgb(248, 248, 248);
            }

            >.time{
                color: #ffffff;
                border: 1px solid #c1c1c1;
            }
        }



        .grigItemBody{
            font-size: 1em;
            flex-grow: 1;
            max-width: 100%;
        }
    }

    .grigItemWrap.isCompletd{
        background-color: #f5f5f585;
    }

    

    .grigItemWrap:hover{
        // background-color: #ffffff30;
    }

    .errorTime{
        background-color: #d30000f7;
        .grigItemTimeRemains{
            .text{
                color: #ffffff;
            }
        }
    }
}

