input.PR_InputSearch{
    font-size: 0.95em;
    // height: 100%;
    text-indent: 1em;
    padding: 0.5em 0.6em;
    outline: none;
    border: 1px solid #34343400;
    background-color: #ffffff;
    // border-radius: 0.1em 0 0 0.1em;

    flex-grow: 1;
    max-width: 100%;
    color: #343434;




}