.logsByProgramSystem{
    font-size: 1em;
    width: 100%;
    height: 100%;

    .programSystemName{
        font-size: 1em;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
        
        span{
            font-size: 0.65em;
            padding: 0.2em 0.6em;
            color: #b8b6b6;
            font-family: "Roboto Slab Regular";
        }
    }
}