.PR_searchPanel{
    font-size: 1em;
    // background-color: red;
    padding: 1em 0 1.8em 0;
    display: flex;
    justify-content: center;

    z-index: 1000;


    .PR_searchPanel_wrap{
        font-size: 1em;
        position: relative;
        background-color: rgb(255, 255, 255);
        padding: 0.1em 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        user-select: none;
        border: 3px solid #93a9a14d;
        border-radius: 0.2em;
        width: 90%;
        max-width: 40em;
        height: fit-content;

        z-index: 1000;
    }

    .PR_searchPanel_wrap.calendarIsOpen{
        // border-radius: 0.2em 0.2em 0 0;
    }

    .PR_searchPanel_wrap.isActive{
        // border: 3px solid #407ab98c;
    }


}