.removeApplication{
    font-size: 1em;
    position: relative;

    margin: 0 0.5em;
    padding: 0.5em 1em;
    border-radius: 0.1em;
    // background-color: #f3efef;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;

    // border-bottom: 1px solid #d8d4d4;

    .A_removeAppBtn{
        font-size: 0.6em;
        padding: 0.3em 1em;
        // background-color: #ffffff;
        color: #bd4545;
        border-radius: 0.1em;
        cursor: pointer;
        user-select: none;
    }

    .A_removeAppBtn:hover{
        background-color: #bd4545;
        color: #ffffff;
    }

    .App_remove{
        font-size: 1em;
        p{
            font-size: 0.8em;
            color: #373737;
            text-align: center;
            margin: 1.2em 0;
            padding: 0.3em 1em;
            line-height: 1.4em;

            span{
                font-size: 0.9em;
                padding: 0.4em 1.2em;
                border-radius: 0.1em;
                margin: 0 1em;
                cursor: pointer;
                user-select: none;
            }

            .App_remove_btn{
                background-color: #d75959;
                color: #ffffff;
            }

            .App_remove_btn:hover{
                background-color: #e92929;
            }            
            .App_remove_btn:active{
                color: #555555;
            }

            .App_no_remove_btn{
                background-color: rgb(29, 153, 35);
                color: #ffffff;
            }
            .App_no_remove_btn:hover{
                background-color: rgb(28, 189, 37);
            }
            .App_no_remove_btn:active{
                color: #a8a8a8;
            }
        }
    }


}