$path: '/public/assets/fonts/fonts/';

@font-face { 
    font-family: "Bikham Cyr Script";
    src: url( "#{$path}Bikham_Cyr_Script.ttf" ) format("truetype"); 
}

@font-face { 
    font-family: "Lobster";
    src: url("#{$path}Lobster.ttf") format("truetype"); 
}
@font-face { 
    font-family: "Open Sans";
    src: url('#{$path}Open_Sans.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Andantino script";
    src: url('#{$path}Andantino_script.ttf') format("truetype"); 
}
@font-face { 
    font-family: "PT Sans";
    src: url('#{$path}PT_Sans.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Capture it";
    src: url('#{$path}Capture_it.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Roboto Regular";
    src: url('#{$path}Roboto_Regular.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Carolina";
    src: url('#{$path}Carolina.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Annabelle";
    src: url('#{$path}Annabelle.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Mon Amour Two Medium";
    src: url('#{$path}Mon_Amour_Two_Medium.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Futura-Normal";
    src: url('#{$path}Futura-Normal.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Aquarelle";
    src: url('#{$path}Aquarelle.ttf') format("truetype"); 
}
@font-face { 
    font-family: "CyrillicOld";
    src: url('#{$path}CyrillicOld.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Deutsch Gothic";
    src: url('#{$path}Deutsch_Gothic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Micra";
    src: url('#{$path}Micra.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Arial Narrow";
    src: url('#{$path}Arial_Narrow.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Bodoni";
    src: url('#{$path}Bodoni.ttf') format("truetype"); 
}
@font-face { 
    font-family: "BrushType Normal";
    src: url('#{$path}BrushType_Normal.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Hermes";
    src: url('#{$path}Hermes.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Izhitsa";
    src: url('#{$path}Izhitsa.ttf') format("truetype"); 
}
@font-face { 
    font-family: "RodchenkoCTT";
    src: url('#{$path}RodchenkoCTT.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Calligraph";
    src: url('#{$path}Calligraph.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Garamond";
    src: url('#{$path}Garamond.ttf') format("truetype"); 
}
@font-face { 
    font-family: "B52";
    src: url('#{$path}B52.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Pragmatica";
    src: url('#{$path}Pragmatica.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Compact";
    src: url('#{$path}Compact.ttf') format("truetype"); 
}
@font-face { 
    font-family: "DS Arabic";
    src: url('#{$path}DS_Arabic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Ubuntu";
    src: url('#{$path}Ubuntu.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Rosamunda One Normal";
    src: url('#{$path}Rosamunda_One_Normal.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Corinthia";
    src: url('#{$path}Corinthia.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Stencil";
    src: url('#{$path}Stencil.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Open Sans Bold";
    src: url('#{$path}Open_Sans_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Roboto Thin";
    src: url('#{$path}Roboto_Thin.ttf') format("truetype"); 
}
@font-face { 
    font-family: "AvantGardeCTT";
    src: url('#{$path}AvantGardeCTT.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Izhitsa Cyrillic";
    src: url('#{$path}Izhitsa_Cyrillic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Europe Normal";
    src: url('#{$path}Europe_Normal.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Bebas Neue";
    src: url('#{$path}Bebas_Neue.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Bickham Script Two";
    src: url('#{$path}Bickham_Script_Two.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Junegull-Regular";
    src: url('#{$path}Junegull-Regular.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Times New Roman Cyr";
    src: url('#{$path}Times_New_Roman_Cyr.ttf') format("truetype"); 
}
@font-face { 
    font-family: "PT Sans Bold";
    src: url('#{$path}PT_Sans_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Marianna";
    src: url('#{$path}Marianna.ttf') format("truetype"); 
}
// @font-face { 
//     font-family: "CircleC";
//     src: url('#{$path}CircleC.ttf') format("truetype"); 
// }
@font-face { 
    font-family: "DisneyPark";
    src: url('#{$path}DisneyPark.ttf') format("truetype"); 
}
@font-face { 
    font-family: "PopularScript";
    src: url('#{$path}PopularScript.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Anfisa Grotesk";
    src: url('#{$path}Anfisa_Grotesk.ttf') format("truetype"); 
}
@font-face { 
    font-family: "AnastasiaScript";
    src: url('#{$path}AnastasiaScript.ttf') format("truetype"); 
}
@font-face { 
    font-family: "OlgaCTT";
    src: url('#{$path}OlgaCTT.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Teddy Bear";
    src: url('#{$path}Teddy_Bear.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Roboto Condensed";
    src: url('#{$path}Roboto_Condensed.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Capture it 2";
    src: url('#{$path}Capture_it_2.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Roboto Black";
    src: url('#{$path}Roboto_Black.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Open Sans Semibold";
    src: url('#{$path}Open_Sans_Semibold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "CyrillicGoth Medium";
    src: url('#{$path}CyrillicGoth_Medium.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Benguiat Rus";
    src: url('#{$path}Benguiat_Rus.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Open Sans Light";
    src: url('#{$path}Open_Sans_Light.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Boyarsky Normal";
    src: url('#{$path}Boyarsky_Normal.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Helios Cond Light";
    src: url('#{$path}Helios_Cond_Light.ttf') format("truetype"); 
}
@font-face { 
    font-family: "New_Zelek";
    src: url('#{$path}New_Zelek.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Bickham Script One";
    src: url('#{$path}Bickham_Script_One.ttf') format("truetype"); 
}
@font-face { 
    font-family: "a_LCDNova";
    src: url('#{$path}a_LCDNova.ttf') format("truetype"); 
}
@font-face { 
    font-family: "a_FuturaRound";
    src: url('#{$path}a_FuturaRound.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Micra Bold";
    src: url('#{$path}Micra_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Futuris Cyrillic";
    src: url('#{$path}Futuris_Cyrillic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Roboto Bold";
    src: url('#{$path}Roboto_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Mon Amour One Medium";
    src: url('#{$path}Mon_Amour_One_Medium.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Grunge";
    src: url('#{$path}Grunge.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Bodoni Cyrillic";
    src: url('#{$path}Bodoni_Cyrillic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "1Isadora M Bold";
    src: url('#{$path}1Isadora_M_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Scriptorama";
    src: url('#{$path}Scriptorama.ttf') format("truetype"); 
}
@font-face { 
    font-family: "PT Sans Italic";
    src: url('#{$path}PT_Sans_Italic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "1 Flamme LET   Plain1.0";
    src: url('#{$path}1_Flamme_LET___Plain1.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Rurintania";
    src: url('#{$path}Rurintania.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Taurus Normal";
    src: url('#{$path}Taurus_Normal.ttf') format("truetype"); 
}
@font-face { 
    font-family: "FreeSet Cyrillic";
    src: url('#{$path}FreeSet_Cyrillic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "PT Serif";
    src: url('#{$path}PT_Serif.ttf') format("truetype"); 
}
@font-face { 
    font-family: "President Cyr";
    src: url('#{$path}President_Cyr.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Bickham Script Three";
    src: url('#{$path}Bickham_Script_Three.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Europe Bold";
    src: url('#{$path}Europe_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Helios Black";
    src: url('#{$path}Helios_Black.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Helvetica Cyrillic Oblique";
    src: url('#{$path}Helvetica_Cyrillic_Oblique.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Roboto Light";
    src: url('#{$path}Roboto_Light.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Cricket";
    src: url('#{$path}Cricket.ttf') format("truetype"); 
}
// @font-face { 
//     font-family: "a_CampusGrav";
//     src: url('#{$path}a_CampusGrav.ttf') format("truetype"); 
// }
@font-face { 
    font-family: "Comic Sans MS";
    src: url('#{$path}Comic_Sans_MS.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Playfair Display";
    src: url('#{$path}Playfair_Display.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Days";
    src: url('#{$path}Days.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Runic";
    src: url('#{$path}Runic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "a_Stamper Bold";
    src: url('#{$path}a_Stamper_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Franklin Gothic Medium";
    src: url('#{$path}Franklin_Gothic_Medium.ttf') format("truetype"); 
}
@font-face { 
    font-family: "a_FuturaRound Bold";
    src: url('#{$path}a_FuturaRound_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "BirchCTT";
    src: url('#{$path}BirchCTT.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Droid Sans";
    src: url('#{$path}Droid_Sans.ttf') format("truetype"); 
}
// @font-face { 
//     font-family: "a_CampusOtlSh Bold";
//     src: url('#{$path}a_CampusOtlSh_Bold.ttf') format("truetype"); 
// }
@font-face { 
    font-family: "Exo 2.0";
    src: url('#{$path}Exo_2.0.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Europe_Ext";
    src: url('#{$path}Europe_Ext.ttf') format("truetype"); 
}
@font-face { 
    font-family: "CyrillicGoth";
    src: url('#{$path}CyrillicGoth.ttf') format("truetype"); 
}
@font-face { 
    font-family: "PT Sans Narrow";
    src: url('#{$path}PT_Sans_Narrow.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Esenin script One";
    src: url('#{$path}Esenin_script_One.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Antiqua";
    src: url('#{$path}Antiqua.ttf') format("truetype"); 
}
// @font-face { 
//     font-family: "DSCyrillic";
//     src: url('#{$path}DSCyrillic.ttf') format("truetype"); 
// }
@font-face { 
    font-family: "FreeSet";
    src: url('#{$path}FreeSet.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Lazurski Cyrillic";
    src: url('#{$path}Lazurski_Cyrillic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Futuris";
    src: url('#{$path}Futuris.ttf') format("truetype"); 
}
@font-face { 
    font-family: "AG_Helvetica";
    src: url('#{$path}AG_Helvetica.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Avanti";
    src: url('#{$path}Avanti.ttf') format("truetype"); 
}
@font-face { 
    font-family: "AG_Cooper";
    src: url('#{$path}AG_Cooper.ttf') format("truetype"); 
}
@font-face { 
    font-family: "NinaCTT";
    src: url('#{$path}NinaCTT.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Decor Cyrillic";
    src: url('#{$path}Decor_Cyrillic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Pragmatica Cyrillic";
    src: url('#{$path}Pragmatica_Cyrillic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Cuprum";
    src: url('#{$path}Cuprum.ttf') format("truetype"); 
}
@font-face { 
    font-family: "PresentScript Cyrillic";
    src: url('#{$path}PresentScript_Cyrillic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Book Antiqua";
    src: url('#{$path}Book_Antiqua.ttf') format("truetype"); 
}
@font-face { 
    font-family: "CrashCTT";
    src: url('#{$path}CrashCTT.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Ariadna script";
    src: url('#{$path}Ariadna_script.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Cassandra";
    src: url('#{$path}Cassandra.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Academy";
    src: url('#{$path}Academy.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Avalon Medium";
    src: url('#{$path}Avalon_Medium.ttf') format("truetype"); 
}
@font-face { 
    font-family: "AvantGardeCTT Bold";
    src: url('#{$path}AvantGardeCTT_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Baltica";
    src: url('#{$path}Baltica.ttf') format("truetype"); 
}
@font-face { 
    font-family: "American Retro";
    src: url('#{$path}American_Retro.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Arctika script";
    src: url('#{$path}Arctika_script.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Futuris Bold";
    src: url('#{$path}Futuris_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Courier New";
    src: url('#{$path}Courier_New.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Alexandra Script";
    src: url('#{$path}Alexandra_Script.ttf') format("truetype"); 
}
@font-face { 
    font-family: "DrPoDecorRu";
    src: url('#{$path}DrPoDecorRu.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Parsek";
    src: url('#{$path}Parsek.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Arial Black";
    src: url('#{$path}Arial_Black.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Forum";
    src: url('#{$path}Forum.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Slavjanic";
    src: url('#{$path}Slavjanic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "DynarShadow Bold";
    src: url('#{$path}DynarShadow_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Breeze Bold";
    src: url('#{$path}Breeze_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Ekaterina Velikaya Two";
    src: url('#{$path}Ekaterina_Velikaya_Two.ttf') format("truetype"); 
}
@font-face { 
    font-family: "EuroStyle Normal";
    src: url('#{$path}EuroStyle_Normal.ttf') format("truetype"); 
}
@font-face { 
    font-family: "PT Sans Bold Italic";
    src: url('#{$path}PT_Sans_Bold_Italic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Pudelinka";
    src: url('#{$path}Pudelinka.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Compact Bold";
    src: url('#{$path}Compact_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "EuropeExt Bold";
    src: url('#{$path}EuropeExt_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "BankGothic RUSS Medium";
    src: url('#{$path}BankGothic_RUSS_Medium.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Minion Cyrillic Bold";
    src: url('#{$path}Minion_Cyrillic_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "University Cyrillic";
    src: url('#{$path}University_Cyrillic.ttf') format("truetype"); 
}
// @font-face { 
//     font-family: "Fita_Vjaz";
//     src: url('#{$path}Fita_Vjaz.ttf') format("truetype"); 
// }
@font-face { 
    font-family: "Ubuntu Bold";
    src: url('#{$path}Ubuntu_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Bauhaus-Light";
    src: url('#{$path}Bauhaus-Light.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Boyarsky Bold Italic:00";
    src: url('#{$path}Boyarsky_Bold_Italic:00.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Adine Kirnberg";
    src: url('#{$path}Adine_Kirnberg.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Freestyle Script Normal";
    src: url('#{$path}Freestyle_Script_Normal.ttf') format("truetype"); 
}
@font-face { 
    font-family: "SchoolBook";
    src: url('#{$path}SchoolBook.ttf') format("truetype"); 
}
@font-face { 
    font-family: "BIP";
    src: url('#{$path}BIP.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Arial Narrow Bold";
    src: url('#{$path}Arial_Narrow_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Caviar Dreams";
    src: url('#{$path}Caviar_Dreams.ttf') format("truetype"); 
}
@font-face { 
    font-family: "StudioScriptCTT";
    src: url('#{$path}StudioScriptCTT.ttf') format("truetype"); 
}
@font-face { 
    font-family: "ArtScript";
    src: url('#{$path}ArtScript.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Arbat-Bold";
    src: url('#{$path}Arbat-Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Ekaterina Velikaya One";
    src: url('#{$path}Ekaterina_Velikaya_One.ttf') format("truetype"); 
}
@font-face { 
    font-family: "DS Yermak_D";
    src: url('#{$path}DS_Yermak_D.ttf') format("truetype"); 
}
@font-face { 
    font-family: "PT Sans Narrow Bold";
    src: url('#{$path}PT_Sans_Narrow_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Roboto Medium";
    src: url('#{$path}Roboto_Medium.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Molot";
    src: url('#{$path}Molot.ttf') format("truetype"); 
}
@font-face { 
    font-family: "DS Kork";
    src: url('#{$path}DS_Kork.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Decor";
    src: url('#{$path}Decor.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Adana script";
    src: url('#{$path}Adana_script.ttf') format("truetype"); 
}
@font-face { 
    font-family: "a_GroticTitulShHv";
    src: url('#{$path}a_GroticTitulShHv.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Pragmatica Bold Cyrillic";
    src: url('#{$path}Bodoni_Bold_Cyrillic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Bodoni Bold Cyrillic";
    src: url('#{$path}Bodoni_Bold_Cyrillic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Aurora Script";
    src: url('#{$path}Aurora_Script.ttf') format("truetype"); 
}
@font-face { 
    font-family: "FreeSet Bold";
    src: url('#{$path}FreeSet_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "1 Shelley Volante";
    src: url('#{$path}1_Shelley_Volante.ttf') format("truetype"); 
}
@font-face { 
    font-family: "EuropeExt Normal";
    src: url('#{$path}EuropeExt_Normal.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Harlequinade";
    src: url('#{$path}Harlequinade.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Open Sans Bold Italic";
    src: url('#{$path}Open_Sans_Bold_Italic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Neuropol Medium";
    src: url('#{$path}Neuropol_Medium.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Ariston Normal";
    src: url('#{$path}Ariston_Normal.ttf') format("truetype"); 
}
@font-face { 
    font-family: "TagirCTT";
    src: url('#{$path}TagirCTT.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Hair-2";
    src: url('#{$path}Hair-2.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Open Sans Italic";
    src: url('#{$path}Open_Sans_Italic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "a_CooperBlack";
    src: url('#{$path}a_CooperBlack.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Franklin Gothic Book";
    src: url('#{$path}Franklin_Gothic_Book.ttf') format("truetype"); 
}
@font-face { 
    font-family: "AGBengaly";
    src: url('#{$path}AGBengaly.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Ametist";
    src: url('#{$path}Ametist_.ttf') format("truetype"); 
}
@font-face { 
    font-family: "a_BosaNova";
    src: url('#{$path}a_BosaNova.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Roboto Bold Condensed";
    src: url('#{$path}Roboto_Bold_Condensed.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Acquest Script";
    src: url('#{$path}Acquest_Script.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Aksent";
    src: url('#{$path}Aksent.ttf') format("truetype"); 
}
@font-face { 
    font-family: "HeinrichScript";
    src: url('#{$path}HeinrichScript.ttf') format("truetype"); 
}
@font-face { 
    font-family: "a_AvanteTitulInline";
    src: url('#{$path}a_AvanteTitulInline.ttf') format("truetype"); 
}
@font-face { 
    font-family: "FreeSet Bold Cyrillic";
    src: url('#{$path}FreeSet_Bold_Cyrillic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Noto Sans";
    src: url('#{$path}Noto_Sans.ttf') format("truetype"); 
}
@font-face { 
    font-family: "1 Vivaldi  Bold";
    src: url('#{$path}1_Vivaldi__Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Bernhard";
    src: url('#{$path}Bernhard.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Wooden Ship Decorated";
    src: url('#{$path}Wooden_Ship_Decorated.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Courier";
    src: url('#{$path}Courier.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Open Sans Extrabold";
    src: url('#{$path}Open_Sans_Extrabold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "a_MachinaOrtoSht";
    src: url('#{$path}a_MachinaOrtoSht.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Rodeo";
    src: url('#{$path}Rodeo.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Pragmatica Bold";
    src: url('#{$path}Pragmatica_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Arbat";
    src: url('#{$path}Arbat.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Venski Sad Two Medium";
    src: url('#{$path}Venski_Sad_Two_Medium.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Droid Serif";
    src: url('#{$path}Droid_Serif.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Broadway Cyrillic";
    src: url('#{$path}Broadway_Cyrillic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Barocco Initial";
    src: url('#{$path}Barocco_Initial.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Antiqua Bold";
    src: url('#{$path}Antiqua_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Herold Normal";
    src: url('#{$path}Herold_Normal.ttf') format("truetype"); 
}
@font-face { 
    font-family: "AdverGothic";
    src: url('#{$path}AdverGothic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Moyenage";
    src: url('#{$path}Moyenage.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Cricket Bold";
    src: url('#{$path}Cricket_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Play";
    src: url('#{$path}Play.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Runic Alt";
    src: url('#{$path}Runic_Alt.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Bookman Old Style Bold";
    src: url('#{$path}Bookman_Old_Style_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Fritz Quadrata Cyrillic";
    src: url('#{$path}Fritz_Quadrata_Cyrillic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "DS StandartCyr";
    src: url('#{$path}DS_StandartCyr.ttf') format("truetype"); 
}
@font-face { 
    font-family: "a_AvanteBs";
    src: url('#{$path}a_AvanteBs.ttf') format("truetype"); 
}
@font-face { 
    font-family: "a_LCDNovaObl";
    src: url('#{$path}a_LCDNovaObl.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Muse";
    src: url('#{$path}Muse_.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Franklin Gothic Heavy";
    src: url('#{$path}Franklin_Gothic_Heavy.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Olietta script Lyrica BoldItalic";
    src: url('#{$path}Olietta_script_Lyrica_BoldItalic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Calligraph  Medium";
    src: url('#{$path}Calligraph__Medium.ttf') format("truetype"); 
}
// @font-face { 
//     font-family: "Fita_Poluustav";
//     src: url('#{$path}Fita_Poluustav.ttf') format("truetype"); 
// }
@font-face { 
    font-family: "Furore";
    src: url('#{$path}Furore.ttf') format("truetype"); 
}
@font-face { 
    font-family: "a_MachinaOrto";
    src: url('#{$path}a_MachinaOrto.ttf') format("truetype"); 
}
@font-face { 
    font-family: "OCR_OneCTT";
    src: url('#{$path}OCR_OneCTT.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Franklin Gothic Demi Cond";
    src: url('#{$path}Franklin_Gothic_Demi_Cond.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Graffiti2CTT";
    src: url('#{$path}Graffiti2CTT.ttf') format("truetype"); 
}
@font-face { 
    font-family: "OfficinaSansWinCTT";
    src: url('#{$path}OfficinaSansWinCTT.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Bolero script";
    src: url('#{$path}Bolero_script.ttf') format("truetype"); 
}
@font-face { 
    font-family: "BrushType-SemiBold";
    src: url('#{$path}BrushType-SemiBold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "KB Danube";
    src: url('#{$path}KB_Danube.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Yanone Kaffeesatz";
    src: url('#{$path}Yanone_Kaffeesatz.ttf') format("truetype"); 
}
@font-face { 
    font-family: "NewtonC";
    src: url('#{$path}NewtonC.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Benguiat Rus Bold";
    src: url('#{$path}Benguiat_Rus_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Futura-Bold";
    src: url('#{$path}Futura-Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Julia Script";
    src: url('#{$path}Julia_Script.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Alexandra Zeferino One";
    src: url('#{$path}Alexandra_Zeferino_One.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Bodoni Bold";
    src: url('#{$path}Bodoni_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Optima Cyr";
    src: url('#{$path}Optima_Cyr.ttf') format("truetype"); 
}
@font-face { 
    font-family: "a_AntiqueTitulDcFr";
    src: url('#{$path}a_AntiqueTitulDcFr.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Festus";
    src: url('#{$path}Festus.ttf') format("truetype"); 
}
@font-face { 
    font-family: "GothicRus Condenced";
    src: url('#{$path}GothicRus_Condenced.ttf') format("truetype"); 
}
@font-face { 
    font-family: "CyrillicHover";
    src: url('#{$path}CyrillicHover.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Peterburg";
    src: url('#{$path}Peterburg.ttf') format("truetype"); 
}
// @font-face { 
//     font-family: "a_Campus";
//     src: url('#{$path}a_Campus.ttf') format("truetype"); 
// }
@font-face { 
    font-family: "Avanti Bold";
    src: url('#{$path}Avanti_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "1 Papyrus";
    src: url('#{$path}1_Papyrus.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Bodoni Italic";
    src: url('#{$path}Bodoni_Italic.ttf') format("truetype"); 
}
// @font-face { 
//     font-family: "FrankC";
//     src: url('#{$path}FrankC.ttf') format("truetype"); 
// }
@font-face { 
    font-family: "Roboto Slab Regular";
    src: url('#{$path}Roboto_Slab_Regular.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Garamond Bold";
    src: url('#{$path}Garamond_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Time Roman";
    src: url('#{$path}Time_Roman.ttf') format("truetype"); 
}
@font-face { 
    font-family: "MasonChronicles";
    src: url('#{$path}MasonChronicles.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Monti-Decor B";
    src: url('#{$path}Monti-Decor_B.ttf') format("truetype"); 
}
@font-face { 
    font-family: "DreamScar";
    src: url('#{$path}DreamScar.ttf') format("truetype"); 
}
@font-face { 
    font-family: "CricketInlineShadow";
    src: url('#{$path}CricketInlineShadow.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Petersburg Cyrillic";
    src: url('#{$path}Petersburg_Cyrillic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "DS Goose";
    src: url('#{$path}DS_Goose.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Elizabeta Modern";
    src: url('#{$path}Elizabeta_Modern.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Pollock2CTT";
    src: url('#{$path}Pollock2CTT.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Perfo";
    src: url('#{$path}Perfo.ttf') format("truetype"); 
}
@font-face { 
    font-family: "EpsilonCTT";
    src: url('#{$path}EpsilonCTT.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Ceremonious One";
    src: url('#{$path}Ceremonious_One.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Venus Rising Cyrillic";
    src: url('#{$path}Venus_Rising_Cyrillic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Alice";
    src: url('#{$path}Alice.ttf') format("truetype"); 
}
@font-face { 
    font-family: "a_RubricaCn BoldItalic";
    src: url('#{$path}a_RubricaCn_BoldItalic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Prestige Normal";
    src: url('#{$path}Prestige_Normal.ttf') format("truetype"); 
}
@font-face { 
    font-family: "GothicRus Bold";
    src: url('#{$path}GothicRus_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "SkazkaForSerge Medium";
    src: url('#{$path}SkazkaForSerge_Medium.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Gesso";
    src: url('#{$path}Gesso.ttf') format("truetype"); 
}
@font-face { 
    font-family: "KabelCTT Ultra";
    src: url('#{$path}KabelCTT_Ultra.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Haettenschweiler";
    src: url('#{$path}Haettenschweiler.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Lucida Sans Unicode";
    src: url('#{$path}Lucida_Sans_Unicode.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Zanesennyj";
    src: url('#{$path}Zanesennyj.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Terminator Cyr Semi-expanded Bold";
    src: url('#{$path}Terminator_Cyr_Semi-expanded_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "DS Crystal";
    src: url('#{$path}DS_Crystal.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Secession";
    src: url('#{$path}Secession.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Uk_Caslon";
    src: url('#{$path}Uk_Caslon.ttf') format("truetype"); 
}
@font-face { 
    font-family: "1 Shelley Volante Bold";
    src: url('#{$path}1_Shelley_Volante_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "FuturaPress Press:ver.1.15";
    src: url('#{$path}FuturaPress_Press:ver.1.15.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Ubuntu Italic";
    src: url('#{$path}Ubuntu_Italic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Academy Bold";
    src: url('#{$path}Academy_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Caslon";
    src: url('#{$path}Caslon.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Opium Bold";
    src: url('#{$path}Opium_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Teslic`s Document Cyr Normal";
    src: url('#{$path}Teslic`s_Document_Cyr_Normal.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Victorian Gothic Two";
    src: url('#{$path}Victorian_Gothic_Two.ttf') format("truetype"); 
}
@font-face { 
    font-family: "TypeWriter";
    src: url('#{$path}TypeWriter.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Cyrvetica Extra Outline";
    src: url('#{$path}Cyrvetica_Extra_Outline.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Liberation Sans";
    src: url('#{$path}Liberation_Sans.ttf') format("truetype"); 
}
@font-face { 
    font-family: "PT Sans Caption";
    src: url('#{$path}PT_Sans_Caption.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Arimo";
    src: url('#{$path}Arimo.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Kaliakra";
    src: url('#{$path}Kaliakra.ttf') format("truetype"); 
}
@font-face { 
    font-family: "a_Futurica";
    src: url('#{$path}a_Futurica.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Decor Bold";
    src: url('#{$path}Decor_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Champagne Cyrillic";
    src: url('#{$path}Champagne_Cyrillic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "a_CooperBlackOtl";
    src: url('#{$path}a_CooperBlackOtl.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Helvetica_Light-Normal";
    src: url('#{$path}Helvetica_Light-Normal.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Kot Leopold";
    src: url('#{$path}Kot_Leopold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Bodoni BoldItalic Cyrillic";
    src: url('#{$path}Bodoni_BoldItalic_Cyrillic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Matura MT Script Capitals";
    src: url('#{$path}Matura_MT_Script_Capitals.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Open Sans Condensed Bold";
    src: url('#{$path}Open_Sans_Condensed_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "AGAalenBold Roman";
    src: url('#{$path}AGAalenBold_Roman.ttf') format("truetype"); 
}
@font-face { 
    font-family: "VivaldiD CL";
    src: url('#{$path}VivaldiD_CL.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Metropol 95";
    src: url('#{$path}Metropol_95.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Epson1";
    src: url('#{$path}Epson1.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Artemis Deco";
    src: url('#{$path}Artemis_Deco.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Devanagari Normal";
    src: url('#{$path}Devanagari_Normal.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Monte-Carlo";
    src: url('#{$path}Monte-Carlo.ttf') format("truetype"); 
}
@font-face { 
    font-family: "DomCasual Normal";
    src: url('#{$path}DomCasual_Normal.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Exo 2.0 Bold";
    src: url('#{$path}Exo_2.0_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Play Rus";
    src: url('#{$path}Play_Rus.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Arnold BocklinC";
    src: url('#{$path}Arnold_BocklinC.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Cheshirskiy Cat Roman";
    src: url('#{$path}Cheshirskiy_Cat_Roman.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Roboto Slab Bold";
    src: url('#{$path}Roboto_Slab_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Calligraphia One";
    src: url('#{$path}Calligraphia_One.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Ampir Deco";
    src: url('#{$path}Ampir_Deco.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Open Sans Light Italic";
    src: url('#{$path}Open_Sans_Light_Italic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Taurus-Light";
    src: url('#{$path}Taurus-Light.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Taurus Bold";
    src: url('#{$path}Taurus_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "a_Alterna";
    src: url('#{$path}a_Alterna.ttf') format("truetype"); 
}
// @font-face { 
//     font-family: "DelphianC";
//     src: url('#{$path}DelphianC.ttf') format("truetype"); 
// }
@font-face { 
    font-family: "Roboto Italic";
    src: url('#{$path}Roboto_Italic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Iris Normal";
    src: url('#{$path}Iris_Normal.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Gals";
    src: url('#{$path}Gals.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Odessa Script";
    src: url('#{$path}Odessa_Script.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Roboto Condensed Bold";
    src: url('#{$path}Roboto_Condensed_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Olietta script-Poesia BoldItalic";
    src: url('#{$path}Olietta_script-Poesia_BoldItalic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "a_AntiqueGr";
    src: url('#{$path}a_AntiqueGr.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Arial Narrow Italic";
    src: url('#{$path}Arial_Narrow_Italic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Roboto Thin Italic";
    src: url('#{$path}Roboto_Thin_Italic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Oranienbaum";
    src: url('#{$path}Oranienbaum.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Droid Serif Bold";
    src: url('#{$path}Droid_Serif_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Roboto Condensed Light";
    src: url('#{$path}Roboto_Condensed_Light.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Alexandra Zeferino Three";
    src: url('#{$path}Alexandra_Zeferino_Three.ttf') format("truetype"); 
}
@font-face { 
    font-family: "PT Serif Bold";
    src: url('#{$path}PT_Serif_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Roboto Condensed Regular";
    src: url('#{$path}Roboto_Condensed_Regular.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Liberation Serif";
    src: url('#{$path}Liberation_Serif.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Motter Tektura Cyrilic";
    src: url('#{$path}Motter_Tektura_Cyrilic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Herold";
    src: url('#{$path}Herold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "HermesCTT";
    src: url('#{$path}HermesCTT.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Parsek Cyrillic";
    src: url('#{$path}Parsek_Cyrillic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Rosamunda Two";
    src: url('#{$path}Rosamunda_Two.ttf') format("truetype"); 
}
// @font-face { 
//     font-family: "Boycott";
//     src: url('#{$path}Boycott.ttf') format("truetype"); 
// }
@font-face { 
    font-family: "CricketHeavy";
    src: url('#{$path}CricketHeavy.ttf') format("truetype"); 
}
@font-face { 
    font-family: "a_RubricaCn Bold";
    src: url('#{$path}a_RubricaCn_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "AGPresquire";
    src: url('#{$path}AGPresquire.ttf') format("truetype"); 
}
// @font-face { 
//     font-family: "Ukrainian?Izhitsa";
//     src: url('#{$path}Ukrainian?Izhitsa.ttf') format("truetype"); 
// }
@font-face { 
    font-family: "a_AvanteTitlerCpsUpC Light";
    src: url('#{$path}a_AvanteTitlerCpsUpC_Light.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Arial Narrow Bold Italic";
    src: url('#{$path}Arial_Narrow_Bold_Italic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "1 Vivaldi ";
    src: url('#{$path}1_Vivaldi_.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Playfair Display Bold";
    src: url('#{$path}Playfair_Display_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Kabel";
    src: url('#{$path}Kabel.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Esenin script Two";
    src: url('#{$path}Esenin_script_Two.ttf') format("truetype"); 
}
@font-face { 
    font-family: "CyrillicBrush Medium";
    src: url('#{$path}CyrillicBrush_Medium.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Ubuntu Condensed";
    src: url('#{$path}Ubuntu_Condensed.ttf') format("truetype"); 
}
@font-face { 
    font-family: "NERVOUS";
    src: url('#{$path}NERVOUS.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Lazurski Bold";
    src: url('#{$path}Lazurski_Bold.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Runic AltNo";
    src: url('#{$path}Runic_AltNo.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Journal Cyrillic";
    src: url('#{$path}Journal_Cyrillic.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Banco Normal";
    src: url('#{$path}Banco_Normal.ttf') format("truetype"); 
}
@font-face { 
    font-family: "DS Russia Demo";
    src: url('#{$path}DS_Russia_Demo.ttf') format("truetype"); 
}
@font-face { 
    font-family: "KursivC";
    src: url('#{$path}KursivC.ttf') format("truetype"); 
}
@font-face { 
    font-family: "1 Malibu LET  Let Plain1.0";
    src: url('#{$path}1_Malibu_LET__Let_Plain1.0.ttf') format("truetype"); 
}
@font-face { 
    font-family: "Victorian Gothic One";
    src: url('#{$path}Victorian_Gothic_One.ttf') format("truetype"); 
}






