.G_ANG_DayName{
    font-size: 1em;
    text-align: center;

    padding: 2em .1em 1em 0.1em;

    span{
        font-size: 1em;
        color: #ac5100;
        border-radius: 0.1em;
        border: 1px solid #ac5100;
        background-color: #ececec26;
        padding: 0.4em 1em;
        font-family: Open Sans Semibold;
        margin: 1em;
    }
}