.SEC_header{
    font-size: 1em;
    height: 5em;
    width: 100%;
    background-color: #f7f7f7;

    display: flex;
    justify-content: flex-start;

    .SEC_header_col{
        font-size: 1em;
        flex-grow: 0;

        border-right: 1px solid #ededed;
        padding: 0.5em 1em;


        .SEC_row{
            font-size: 1em;
            margin: 0.2em 0.5em;

            display: flex;
            justify-content: flex-start;
            align-items: center;
            align-content: center;

            span{
                font-size: 0.6em;
                padding: 0.2em 0.6em;
            }


            .SEC_row_title{
                
                // margin: 0 1em;
                color: #979797;

            }

            .w11{
                width: 11em;
            }

            .SEC_row_name{
                // font-size: 0.6em;
                margin: 0 1em;
                // color: rgb(155, 94, 94);
                font-weight: bold;
                border-width: 1px;
                border-style: solid;
                border-radius: 0.1em;
                border-color: #00000000;

                
            }

            .SEC_row_type{
                // margin: 0 0.5em;
                padding: 0.1em 0.6em;
                color: #b79090;
                font-style: italic;
                border: 1px solid #b7909026;
                border-radius: 0.1em;
            }

            .SEC_row_period{
                padding: .1em .3em;
                color: #737373;
                font-style: italic;

            }

            .SEC_row_tire{
                padding: 0em .1em 0 0.2em;
                text-align: center;
            }

            .SEC_row_hron_time{
                color: #252323;
                font-weight: 700;
                width: 4em;
            }

            .SEC_row_hron_sec{
                color: #797979;
                width: 4em;
                text-align: center;
            }

            .SEC_row_filled_count{
                color: #252323;
                font-weight: bold;
                margin: 0 .2em;
            }

            .SEC_row_count_slash{
                color: #797979;
                margin: 0 .2em;
            }

            .SEC_row_all_count{
                color: #797979;
                margin: 0 .2em;
            }





        }


        
    }

    .SEC_header_col.SEC_header_col_last{
        flex-grow: 1;
        max-width: 100%;
        height: 100%;

        border-right: 1px solid #ededed00;
        padding: 0em 1em;

        display: flex;
        justify-content: flex-end;
        align-items: center;
        align-content: center;

    }

    
}