.SA_PasportExcelDownload{
    font-size: 1em;
    margin: 0.5em 2em 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    width: 7em;
    flex-grow: 0;


    .SA_PasExcel_btn{
        font-size: 0.9em;
        padding: 0.1em 0.8em 0.3em;
        border-radius: 0.1em;
        background-color: #70b367;
        color: #ffffff;
        // margin: 0.3em 2em;

        // width: 7em;

        cursor: pointer;
        user-select: none;
        // margin: 0 0.5em 0 0;

        .SA_PasExcel_icon{
            font-size: 0.65em;
            color: #ffffff;
            padding: 0.2em 0em;
        }

        .SA_PasExcel_text{
            font-size: 0.68em;
            color: #fafafa;
            padding: 0.2em 0.4em;
        }

    }

    .SA_PasExcel_btn:hover{
        // background-color: #639584;
        background-color: #69a261;

    }

    .SA_PasExcel_btn:active{
        // color: #f89898;
        background-color: #7cc572;
        .SA_PasExcel_text{
            // color: #b9b9b9;
            
            // text-decoration: underline;
        }
    }
}