.CTS_EventNameItem{
    font-size: 0.8em;
    margin-right: 1em;
    flex-grow: 0;
    width: 20em;
    position: relative;

    input{
        font-size: 0.85em;
        padding: 0.3em 0.8em;
        // width: 20em;
        width: calc( 100% - 2em );
        text-align: left;
        line-height: 1em;
        border: 1px solid #34343400;
        outline: none;
        
    }

    .curPartName{
        font-size: 0.8em;
        position: absolute;
        top: 0;
        right: 0.6em;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        >span{
            font-size: 1em;
            background-color: #fff;
            border-radius: 0.1em;
            padding: 0.1em 0.38em 0.18em 0.3em;
            .num{
                color: #7d7d7d;
                font-weight: bold;
            }
            .icon{
                font-size: 0.9em;
                color: #c1b4b4;
                    padding-right: 0.1em;
            }
        }
    }
}