.SA_ItemEditComponent{
    font-size: 1em;
    position: relative;

    >span{
        font-size: 0.8em;
        // background-color: #cdc8c8;
        color: #818181;
        padding: 0.25em 0.1em 0.26em 0.24em;
        border-radius: 0.15em;
        cursor: pointer;
        user-select: none;
    }
    >span:hover{
        background-color: #6f9599;
        color: #ffffff;
    }

    >span:active{
        color: #e9bbbb;
    }


}