.SA_ItemEditComponent{
    font-size: 1em;
    position: relative;

    >span{
        font-size: 0.8em;
        // background-color: #cdc8c8;
        color: #818181;
        padding: 0.25em 0.1em 0.26em 0.24em;
        border-radius: 0.15em;
        cursor: pointer;
        user-select: none;
    }
    >span:hover{
        background-color: #6f9599;
        color: #ffffff;
    }

    >span:active{
        color: #e9bbbb;
    }

}
.SA_ItemEditComponent.SA_byBody{
    cursor: pointer;
    user-select: none;

    position: absolute;
    top: 0;
    left: -0.2em;
    width: 100%;
    height: 100%;

}

.SA_ItemEditComponent.SA_byBody:hover{
    cursor: pointer;
    user-select: none;
    border: 1px solid #6baad1;
    border-radius: 0.1em;
}

.SA_ItemEditComponent.SA_byBody:active{
    border: 1px solid #d16b6b;
}