.ELF_TakeFromFolder{
    font-size: 1em;
    padding: 0.2em 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    .ELF_TakeFromFolder_allDur{
        font-size: 0.68em;
        color: #5b5b5b;
    }

    .ELF_TakeFromFolder_btn{
        font-size: 0.68em;
        color: #5b5b5b;
        padding: 0.16em 1em 0.2em;
        border-radius: 0.1em;
        border: 1px solid #dfdfdf;
        background-color: #dfdfdf73;
        cursor: pointer;
        user-select: none;
    }
    .ELF_TakeFromFolder_btn:hover{
        color: #5b5b5b;
        border: 1px solid #bfbfbf;
        background-color: #dfdfdf3b;
    }
    .ELF_TakeFromFolder_btn:active{
        color: #1b1a1a;
    }

    .ELF_TakeFromFolder_inp_file{
        display: none;
    }

}