.PR_PlayReportList{
    font-size: 1em;
    height: 100%;
    width: 100%;

    // padding: 1em 0.5em;

    overflow: auto;
    
    >div:first-child{
        margin-top: 0.6em; 
    }



    
}

.PR_PlayReportList::-webkit-scrollbar {
    width: 0.7em;
    // padding-right: 20px;
}
    
.PR_PlayReportList::-webkit-scrollbar-track {
    background-color: #65656500;
}
    
.PR_PlayReportList::-webkit-scrollbar-thumb {
    border: 1px solid #6c6c6c32;
    border-radius: 0.4em;
    background-color: #6f6157;
    -webkit-box-shadow: inset 0 0 0.1em #5b41cf;
    box-shadow: inset 0 0 0.1em #5b41cf;
}



.PR_PlayReportList::-moz-scrollbar {
    width: 0.7em;
    // padding-right: 20px;
}
    
.PR_PlayReportList::-moz-scrollbar-track {
    background-color: #65656500;
}
    
.PR_PlayReportList::-moz-scrollbar-thumb {
    border: 1px solid #6c6c6c3b;
    border-radius: 0.4em;
    background-color: #6f6157;
    -moz-box-shadow: inset 0 0 0.1em #5b41cf;
    box-shadow: inset 0 0 0.1em #5b41cf;
}


.PR_PlayReportList::-moz-scrollbar {
    width: thin;
}