.SEC_body_center_wrap{
    font-size: 1em;
    padding: 0.5em;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    align-content: center;
    flex-wrap: nowrap;



}