.SB_TTD_MatrixCell{
    .SB_TTD_MatrixCell_inp{
        font-size: 1em;
        margin: 0.1em 0.2em 0 0;
        flex-grow: 1;

        position: relative;

        .SB_TTD_MatrixCell_inp_wrap{
            font-size: 1em;

            display: flex;
            justify-content: flex-start;
            align-items: center;
            align-content: center;

            input{
                font-size: 0.5em;
                color: #343434;
                font-weight: bold;
                width: calc( 100% - 0.5em );
                background-color: #00000000;
                border: 1px solid #00000000;
                outline: none;
            }

            .block_mix{
                font-size: 0.5em;
                color: #e56969;
                font-weight: bold;
                // width: 9em;
                width: calc( 100% - 0.5em );
                background-color: #00000000;
                border: 1px solid #00000000;
                outline: none;
            }  
        }

        .SB_TTD_MatrixCell_inp_curt{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #00000000;

        }

        .SB_TTD_MatrixCell_inp_mix{
            font-size: 1em;
            flex-grow: 1;
            width: 100%;
        }
    }

}

.SB_TTD_MatrixCell.reserved{
    .SB_TTD_MatrixCell_inp{
        input{
            font-size: 0.5em;
            color: #c34c4cad;
        }
    }
}
