.schEventItemTime{
    font-size: 1em;
    flex-grow: 0;
    padding: 0.1em 0;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;

    flex-wrap: wrap;

    .SEC_time_push{
        font-size: 1em;
        width: 1.2em;
        // height: 2em;
        // background-color: red;

        span{
            font-size: 0.8em;
            color: #5f5f5f;
            border-radius: 0.1em;
            cursor: pointer;
            user-select: none;
            padding: 0.1em 0;

        }

        span:hover{
            color: #3a3a3a;
            background-color: #e5e3e3;
        }
        span:active{
            color: #f59e4c;
        }
    }

    // .SEC_time{
    //     font-size: 0.7em;
    //     color: #343434;
    //     background-color: #ffffff;
    //     padding: 0.2em 0.5em 0.1em;
    //     margin: 0em 1.2em 0 1em;
    //     width: 4.6em;
    //     border-radius: 0.1em;
    //     flex-grow: 0;
    //     text-align: center;

    //     cursor: pointer;

    //     position: relative;
    // }

    // .SEC_time:hover{
    //     color: #343434;
    //     background-color: #e5e3e3;
    // }

    // .SEC_time.isKeyPoint{
    //     background-color: #ab3928;
    //     color: #ffffff;
    // }

    // .SEC_time.isKeyPoint:hover{
    //     background-color: #ef6a56;
    //     color: #ffffff;
    // }

    
    // .SEC_duration{
    //     font-size: 0.7em;
    //     color: #343434;
    //     background-color: #ffffff;
    //     padding: 0.2em 0.5em 0.1em;
    //     margin: 0em 1em 0 0em;
    //     width: 4.6em;
    //     border-radius: 0.1em;
    //     text-align: center;
    //     flex-grow: 0;

    // }
}