.ACE_BackCross{
    font-size: 0.8em;
    margin: 0 0.5em;
    padding: 0.8em 0.2em 0.4em 0.2em;
    border-radius: 0.1em;
    // background-color: #f3efef;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;

    // border-bottom: 1px solid #d8d4d466;

    .ACE_BackCross_icon{
        font-size: 0.9em;
        padding: 0.32em 0.12em 0.28em 0.12em;
        border-radius: 0.1em;
        background-color: #af7373;
        color: #ffffff;
        cursor: pointer;
        user-select: none;
        

    }
    .ACE_BackCross_icon:hover{
        background-color: #b44343;
    }
    .ACE_BackCross_icon:active{
        // background-color: #b44343;
        color: #dbdbdb;
    }


}