.ECSB_EventItem{
    font-size: 1em;
    // margin: 0.1em 0.1em 0.1em 1em;
    margin: 0.1em 0em 0.1em 1em;

    padding: 0.2em 0.3em;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    // cursor: pointer;
    // user-select: none;
    opacity: 0.5;
    width: calc( 100% - 3em );
    border: 1px solid #34343400;
    border-radius: 0.1em;

    .ECSB_EI_dur{
        font-size: .55em;
        flex-grow: 0;
        color: #0d2b06;
        // margin: 0 1em 0 0em;
        // background-color: #959595;
        padding: 0.3em 0em;
        border-radius: 0.1em;

        width: 5.4em;
        text-align: center;
    }

    .ECSB_EI_ev{
        font-size: 0.6em;
        padding: 0.2em 0.8em;
        border-radius: 0.1em;
        // margin: 0.2em 0.4em;
        // cursor: pointer;
        // user-select: none;
        border: 1px solid #ffffff00;

        max-width: calc(100% - 6em);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }


}

.ECSB_EventItem.isSelected{
    border: 1px solid #a8c6e0;
}

.ECSB_EventItem.isActive{
    opacity: 1;
    cursor: pointer;
    user-select: none;
    // background-color: rgb(242, 249, 255);
}

.ECSB_EventItem.isActive:hover{
    background-color: #f2f9ff;
    border: 1px solid #a8c6e0;
}
.ECSB_EventItem.isActive.isSelected:hover{
    background-color: #f2f9ff;
    border: 1px solid #a8c6e0;
}