.SFRLFS_waite{
    font-size: 1em;
    padding: 2em;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;

    >span{
        // font-size: 1em;
        color: #5f5f5f;
        
    }

    .SFRLFS_waite_title{
        font-size: 0.8em;
        margin: 0 0.2em;
    }

    .SFRLFS_waite_point_1{
        font-size: 1.3em;
        animation-duration: 2s;
        animation-name: slidein_1;
        animation-iteration-count: infinite;
        opacity: 0;
        padding-bottom: 0.14em;

    }
    .SFRLFS_waite_point_2{
        font-size: 1.3em;
        animation-duration: 2s;
        animation-name: slidein_2;
        animation-iteration-count: infinite;
        opacity: 0;
        padding-bottom: 0.14em;

    }
    .SFRLFS_waite_point_3{
        font-size: 1.3em;
        animation-duration: 2s;
        animation-name: slidein_3;
        animation-iteration-count: infinite;
        opacity: 0;
        padding-bottom: 0.14em;

    }

    @keyframes slidein_1 {

        0% {
            // opacity: 0;
        }

        25% {
            opacity: 1;
        }
        50% {
            opacity: 1;
        }
        73% {
            opacity: 1;
        }
    }
    @keyframes slidein_2 {

        0% {
            opacity: 0;
        }
        25% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }
        76% {
            opacity: 1;
        }
    }
    @keyframes slidein_3 {

        0% {
            opacity: 0;
        }
        25% {
            opacity: 0;
        }
        50% {
            opacity: 0;
        }
        75% {
            opacity: 1;
        }
        78% {
            opacity: 1;
        }
    }
}