.SA_ItemSubPeriod{
    font-size: 1em;
    height: 100%;
    margin-right: 0.2em;
    padding: 0.2em 0.4em;

    flex-grow: 0;

    position: relative;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-right: 0.2em;
    border-right: 1px solid #f7feff;

    .SA_ItemSubPeriod_data{
        font-size: 0.65em;
        color: #636363;
        
        line-height: 2.4em;
    }

    .second{
        margin-right: 1em;
    }

    .SA_ItemSubPeriod_data_tire{
        font-size: 0.65em;
        color: #636363;
        margin: 0 0.3em;
        line-height: 2em;
    }
    
    .SA_ItemSubPeriod_edit{
        font-size: 0.9em;
        padding: 1em;
        margin: 0 .5em;


        h3{
            font-size: .8em;
            padding: 0.2em 0.4em;
            color: #636363;
            margin-right: 1em;
            // width: 12em;

            span{
                font-size: 0.8em;
                color: #ff4d4d94;
            }
        }

        >span{
            font-size: .75em;
            color: #636363;
            margin: 0 0.1em 0 1em;
        }

        input{
            font-size: .8em;
            padding: .2em .2em .2em 0.6em;
            margin: 1em 1em 0 0.2em;
            background-color: #0080ff;
            color: #ffffff;
            outline: none;
            border-radius: 0.1em;
            border: 1px solid #34343400;
            font-family: "Roboto Mono",monospace;

        }

        ::-webkit-calendar-picker-indicator{
            background-color: #ffffff;
            padding: 0.3em;
            cursor: pointer;
            border-radius: 0.1em;
        }
    }


}