.SA_YesOrNoTitle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;


            flex-grow: 1;
            max-width: 100%;

    .SA_YesOrNoTitle_title{
        font-size: 1em;
        
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;

        // .titleText{
        //     flex-grow: 1;
        //     max-width: 100%;
        // }

        .icon{
            padding: 0 .4em;
            color: #20a13d;
            width: 1.2em;
        }

        .SA_YesOrNoTitle_yes{
            padding: 0em 0.4em;
            color: #329932;
            font-weight: bold;
        }

        .SA_YesOrNoTitle_no{
            padding: 0em 0.4em;
            color: #3a3a3a;
        }
    }


}    
.SA_YesOrNoTitle.isYes{
    .titleText{
        color: #494949;
        font-weight: bold;
    }
}


