input.LE_ELF_container_newFileInput{
    font-size: .7em;
    padding: 0.4em 0.4em;
    width: calc( 100% - 2em );
    margin: 0 1em 0 0.2em;
    text-align: left;
    text-indent: 1em;

    border: 1px solid #7474742e;
    border-radius: 0.1em;
    outline: none;
    color: rgb(54, 54, 54);
}

input.LE_ELF_container_newFileInput[type="text"]::placeholder { 
    color: #d3d3d3; 
}  