.S_CenterTopButtons{
    font-size: 1em;
    height: 2em;
    width: 100%;
    

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}