.layoutGrid{
    font-size: 1em;

    .LG_Body{
        font-size: 1em;
        height: calc( 100vh - 4.6em );
        // background-color: rgba(43, 122, 27, 0.582);

        display: flex;
        flex-direction: row;
        justify-content: flex-start;

    }
}