.AC_EventsTree{
    table{
        tbody{
            tr{
                td.TdDurationAllDayProcent{
                    // font-size: 0.9em;
                    padding: 0 0.2em;
                    border: 1px solid #e5e0e0;
                    opacity: 0;

                    width: 4.2em;
                    position: relative;
                    vertical-align: middle;

                    >input{
                        font-size: .6em;
                        padding: 0.35em 0.1em;
                        border: 1px solid #d1d1d1;
                        background-color: #ffffff;
                        color: #3d3d3d87;
                        border-radius: .1em;
                        font-family: Open Sans Semibold;
                        outline: none;
                        text-align: center;
                        width: calc( 100% - 2px );
                    }

                    >span.procZnak{
                        font-size: 0.6em;
                        color: #9b9b9b;
                        position: absolute;
                        width: 1em;
                        // height: 100%;
                        top: 0.9em;
                        right: 0.5em;
                        font-family: Open Sans Semibold;

                    }

                }

                td.TdDurationAllDayProcent.isUsed{
                    opacity: 1;
                    >input{
                        // color: #3d3d3d87;
                        color: #4b4b4b;

                    }
                }
            }
        }
    }
}