.PRL_ItemMovie{
    font-size: 1em;
    margin: 0 0.6em;
    padding: 0.2em 0.2em;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    background-color: #ffffff85;
    border-radius: 0.1em 0.1em 0 0;

    
}