.PR_ButtonSearch{
    font-size: 1em;

    // margin: 0 0.4em;
    padding: 0.3em;

    user-select: none;
    cursor: pointer;

    // background-color: #f9f9f9;


    span{
        font-size: 1em;
        line-height: 1em;
        color: #00000045;
        // padding: 0 0.2em 0 0.22em;
    }




}
.PR_ButtonSearch:hover{
    background-color: #f9f9f9;
    span{
        color: #00000087;
    }
}