.A_Name{
    font-size: 0.8em;
    margin: 0 0.5em;
    padding: 0.4em 1em;
    border-radius: 0.1em;
    // background-color: #f3efef;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    border-bottom: 1px solid #d8d4d466;

    h4{
        font-size: 0.8em;
        padding: 0 0.5em;
        color: #454545;
        width: 12em;
    }


    .A_Name_input{
        font-size: 0.85em;
        line-height: 1.4em;
        padding: 0.4em 1em;
        border: 1px solid #c9c9c966;
        border-radius: 0.1em;
        width: 50%;
        outline: none;
        background-color: #ffffff;
        color: #485377;

    }
    .A_Name_input:focus{
        // background-color: red;
        border: 1px solid #a8a8a8;
        background-color: #ffffff;
    }
}