.SB_TTD_MatrixCell_time{
    font-size: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin: 0 0.2em 0 0;
    flex-grow: 0;

    // span{
    //     font-size: 0.65em;
    //     padding: 0.3em 0.5em 0.1em 0.5em;
    //     width: 4em;
    //     border-radius: 0.1em;

    //     background-color: #f0f0f063;
    //     color: #5d5d5d;
    //     font-family: 'Courier New', Courier, monospace;
    //     text-align: center;
    //     border: 1px solid #e5e5e5;
    // }

    span{
        font-size: 0.6em;
        padding: 0.2em 0.3em 0.1em 0.3em;
        color: #5d5d5d;
        font-family: 'Courier New', Courier, monospace;
    }
}