.S_DExcelComponent_ExportTypeButtons{
    font-size: 1em;
    margin: 0.5em;
    padding: 0.2em 0.3em;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;

    // border-bottom: 1px solid #343434;

    .exportTitle{
        font-size: 0.7em;
        margin: 0 0.5em;
        color: rgb(99, 99, 99);
    }

    .exportItem{
        font-size: 0.7em;
        margin: 0 0.5em;
        color: rgba(65, 65, 65, 0.808);
        cursor: pointer;
        user-select: none;

    }

    .exportItem:hover{
        text-decoration: underline;
        // color: #1b6fb3;
    }

    .exportItem.isActive{
        text-decoration: underline;
        color: #1b6fb3;
    }
}