.FL_OneFileItem{
    font-size: 1em;
    padding: 0.2em 0.5em;
    border-radius: 0.1em;
    background-color: #ffffff;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    margin: 0.2em 0;


    .FL_One_FileData_btn{
            font-size: 0.8em;
            // font-size: 1em;
            margin: 0 0.2em;
            padding: 0em 0.1em;
            // background-color: #343434;

            flex-grow: 0;

            display: flex;
            justify-content: flex-start;
            align-items: center;
            align-content: center;
            // border-radius: 0.1em;

            span:first-child{
                border-radius: 0.1em 0 0 0.1em;
            }
            span:last-child{
                border-radius: 0 0.1em 0.1em 0 ;
            }

            span{
                font-size: 0.7em;
                padding: 0.25em 0.6em;
                margin: 0;
                color: #747474;
                font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
                background-color: #dadada;
                cursor: pointer;
                user-select: none;
            }
            span.FL_One_FileData_btn_isActive{
                color: #ffffff;
                background-color: #545454;

            }
            span:hover{
                color: #5e5e5e;
                background-color: #c9c8c8;
            }
            span.FL_One_FileData_btn_isActive:hover{
                color: #ffffff;
                background-color: #545454;
            }
        }





















    .FL_OneFileItem_fileName{
        font-size: 0.6em;
        padding: 0.2em 0.4em;
        color: #302d2d;
        margin: 0 0.5em;
        flex-grow: 1;
        max-width: 100%;
        border: 1px solid #34343400;
        outline: none;
        background-color: #ffffff00;

    }

    .FL_OneFileItem_event{
        font-size: 0.6em;
        padding: 0.2em 1em;
        border-radius: 0.1em;
        margin: 0 0.5em;
        border-width: 1px;
        border-style: solid;
    }

    .FL_OneFileItem_dur{
        font-size: 0.65em;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;

        margin: 0 0.5em;

        .FL_OneFileItem_dur_val{
            font-size: 0.9em;
            padding: 0.16em 0.6em;
            border-radius: 0.1em;
            color: #040404;
            background-color: #49cefc;
            

        }

    }

    .FL_OneFileItem_count{
        font-size: 0.65em;
        color: #040404;
        background-color: #daefe9;
        padding: 0.2em 0.7em 0.12em;
        border-radius: 0.1em;
        margin: 0 0.5em;
        flex-grow: 0;
        min-width: 7em;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;

        .FL_OneFileItem_count_title{
            font-size: 0.9em;
            flex-grow: 0;
            color: #636363;
        }

        .FL_OneFileItem_count_val{
            font-size: 1em;
            flex-grow: 1;
            max-width: 100%;
            color: #040404;
            text-align: center;
        }
    }

    .FL_OneFileItem_premiere{
        font-size: 0.65em;
        color: #1666ad;
        background-color: #f1f1f1;
        padding: 0.2em 0.7em 0.12em;
        border-radius: 0.1em;
        margin: 0 0.5em;
        flex-grow: 0;
    }
}

    