.PRL_PlayReportListContainer{
    font-size: 1em;
    width: 100%;
    height: 50vh;
    // background-color: #0bb370;

    display: flex;
    flex-direction: row;
    align-items: flex-start;

    // position: relative;

    // .topFixedInfo{
    //     position: absolute;
    //     top: 0;
    //     left: 22em;
    //     width: fit-content;
    //     padding: 0.2em 1em;
    //     border-radius: 0.1em;
    //     height: 1.2em;
    //     background-color: rgb(73, 73, 73);
    //     z-index: 999;

    //     display: flex;
    //     justify-content: flex-start;
    //     align-items: center;
    //     align-content: center;

    //     span{
    //         font-size: 0.8em;
    //         color: #c6c6c6;
    //         margin: 0 0.5em;
    //     }
    // }

    // border: 1px solid #343434;
    
}