.LE_EventLinkedFileItem{
    font-size: 1em;
    margin-right: 1em;

    flex-grow: 1;
    width: 18em;

    white-space: nowrap; 
    overflow: hidden; 

    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    // background-color: red;

    position: relative;

    .LE_ELF_addBtn{
        font-size: 0.55em;
        padding: 0.4em 0.8em;
        border-radius: 0.1em;

        display: inline-block;

        width: 18em;

        text-overflow: ellipsis; 
        white-space: nowrap; 
        overflow: hidden; 
        text-align: center;
        background-color: #7e7f7fa6;
        color: #ffffff;
        border: 1px solid #e7e7e787;
        cursor: pointer;
        user-select: none;
        
    }

    .LE_ELF_addBtn:hover{
        background-color: #49b6f3;
        border: 1px solid #b4dcf1;
    }

    .LE_ELF_addBtn:active{
        color: #1a597e;
    }

    .LE_EventLinkedFileItem_container{
        font-size: 1em;
        padding: 0.5em;

        h3{
            font-size: .8em;
            padding: 0.2em 0.4em;
            color: #636363;
            margin-right: 1em;
        }

        
    }

}