.PR_ASC_SearchByEventsButton{
    font-size: 1em;
    margin: 0.5em 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    .PR_ASC_SearchByEventsButton_wrap{
        font-size: 1em;

        padding: 0.28em 0.6em;
        border: 1px solid #3f6fc1;
        border-radius: 0.1em;

        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        opacity: 0.3;

        width: 5em;

        // cursor: pointer;
        // user-select: none;

        width: 5em;
        background-color: #3f6fc1;

        .icon{
            font-size: 0.7em;
            color: #dfdfdf;
            margin-right: 0.3em;
        }

        .text{
            font-size: 0.7em;
            color: #ffffff;
            margin-right: 0.3em;
        }



    }

    .PR_ASC_SearchByEventsButton_wrap.isActive{
        cursor: pointer;
        user-select: none;
        opacity: 1;
    }

    .PR_ASC_SearchByEventsButton_wrap.isActive:hover{
        border: 1px solid #2a4f8f;
        background-color: #537cc4;
    }

    .PR_ASC_SearchByEventsButton_wrap.isActive:active{
        border: 1px solid #3f6fc1;
        background-color: #6890d4;
        .icon{
            color: #d3d2d2;
        }

        .text{
            color: #d3d2d2;
        }
    }
}