.FRL_FilterList{
    font-size: 1em;
    // background-color: rgb(115, 255, 0);

    overflow: hidden;



    .FRL_FilterList_item{
        font-size: 1em;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        padding: 0.2em 0.8em;
        // margin: 0.2em 0;


        .FRL_FilterList_item_event{
            font-size: .65em;

            max-width: 7em;

            flex-grow: 0;

            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            border-radius: 0.1em;
            border-width: 1px;
            margin: 0 0.5em;
            padding: 0.3em 0.8em;


        }
        .FRL_FilterList_item_name{
            font-size: .65em;
            color: #476edb;
            flex-grow: 1;
            max-width: 100%;
            background-color: #44444400;
            border: 1px solid #34343400;
            outline: none;
        }

        .FRL_FilterList_item_duration{
            font-size: .65em;
            flex-grow: 0;
            color: #0c9913;
            margin: 0 1em 0 0.5em;
        }

        .FRL_FilterList_item_remove{
            font-size: 0.7em;
            width: 1em;
            height: 1em;
            border-radius: .1em;
            padding: .1em .2em;
            color: #fd8585;
            -webkit-box-flex: 0;
            -ms-flex-positive: 0;
            flex-grow: 0;
            cursor: pointer;
            user-select: none;
        }

        .FRL_FilterList_item_remove:hover{
            color: red;
        }

        .FRL_FilterList_item_remove:active{
            color: #e29191;
        }





    }

    .FRL_FilterList_item:hover{
        background-color: #d1d1d16e;
    }
}