@import './../TableTypeDetaile.scss';

.SB_TTD_MatrixCell{
    font-size: 1em;
    margin: 0.2em 0.2em;
    // width: 12em;

    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: center;
    padding: 0.2em 0.3em;

    background-color: #ffffff00;
    border-radius: 0.1em;
    border: 1px solid #deeaf47d;

    .SB_TTD_MatrixCell_short{
        font-size: 0.55em;
        text-align: center;
        min-height: 1.2em;
        display: inline-block;
        text-align: center;
    }

    // .SB_TTD_MatrixCell_short.short_res{
    //     color: #c34c4cad;
    // }

    .SB_TTD_MatrixCell_inp{
        font-size: 1em;
        margin: 0.1em 0.2em 0 0;
        flex-grow: 1;

        position: relative;

        .SB_TTD_MatrixCell_inp_wrap{
            font-size: 1em;

            display: flex;
            justify-content: flex-start;
            align-items: center;
            align-content: center;

            input{
                font-size: 0.5em;
                color: #343434;
                font-weight: bold;
                width: calc( 100% - 0.5em );
                background-color: #00000000;
                border: 1px solid #00000000;
                outline: none;
            }

            .block_mix{
                font-size: 0.5em;
                color: #e56969;
                font-weight: bold;
                // width: 9em;
                width: calc( 100% - 0.5em );
                background-color: #00000000;
                border: 1px solid #00000000;
                outline: none;
            }  
        }




        .SB_TTD_MatrixCell_inp_curt{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #00000000;

        }

        .SB_TTD_MatrixCell_inp_mix{
            font-size: 1em;
            flex-grow: 1;
            width: 100%;
        }
    }










}

.SB_TTD_MatrixCell:hover{
    // background-color: #ffffff;
    background-color: $active_background_color;
    border-color: $active_border_color;
    cursor: pointer;
}
.filled{
    background-color: #ffffff;
    // background-color: $active_background_color;
    // border-color: $active_border_color;
}


.SB_TTD_MatrixCell.reserved{
    .SB_TTD_MatrixCell_short{
        color: #c34c4cad;
    }
    .SB_TTD_MatrixCell_inp{
        input{
            font-size: 0.5em;
            color: #c34c4cad;
        }
    }
}

.SB_TTD_MatrixCell.reserved:hover{
    background-color: #ffffff00;
}
.SB_TTD_MatrixCell.filled.reserved:hover{
    background-color: #ffffff00;
}

.SB_TTD_MatrixCell.SB_TTD_modeShort{
    padding: 0.2em 0em;
    justify-content: center;
}

