.SB_TTD_BlindTimePointAddRow{
    font-size: 1em;

    position: sticky;
    top: 0;   
    left: 0;
    z-index: 11; 

    // background-color: rgb(255, 255, 255);
    background-color: #f7fafb;

    font-size: 1em;
    // width: 100%;
    height: 5.6em;
    min-width: 7em;
    display: flex;
    justify-content: center;
    align-items:center;
    align-content: center;

    .addTimeWrap{
        font-size: 0.85em;
    }

}