.siteBackground{
    font-size: 1em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
    overflow: hidden;
}