.FRL_EditContainer{
    font-size: 1em;
    padding: 0 0.5em;

    .FRL_EditContainer_topPanel{
        font-size: 0.84em;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
        padding: 0 0.5em;
    }

    // .FRL_EditContainer_addPanel{
    //     font-size: 1em;
    //     height: 13em;
    //     background-color: #dddddd;
    //     margin: 0.5em 0;

    //     .FRL_files{

    //         font-size: 1em;
    //         height: 5em;
    //         margin: 0 0.5em;

    //         display: flex;
    //         justify-content: flex-start;

    //         .FRL_filesWrap{
    //             font-size: 1em;

    //             background-color: #ffffff;
    //             border: 1px solid #cbcbcb;
    //             border-radius: 0.1em;
    //             flex-grow: 1;
    //             max-width: 100%;
    //         }

    //         .FRL_add_from_folder{
    //             font-size: 1em;
    //             flex-grow: 0;
    //             width: 15em;

    //             font-size: 1em;

    //             >span{
    //                 font-size: 0.68em;
    //                 color: #5b5b5b;
    //                 padding: 0.16em 1em;
    //                 border-radius: 0.1em;
    //                 border: 1px solid #d1d1d1;
    //                 background-color: #ededed;
    //                 cursor: pointer;
    //                 user-select: none;
    //                     margin: 0.5em 1em;
    //             }
    //             >span:hover{
    //                 color: #5b5b5b;
    //                 border: 1px solid #bfbfbf;
    //                 background-color: #dfdfdf3b;
    //             }
    //             >span:active{
    //                 color: #1b1a1a;
    //                 // border: 1px solid #bfbfbf;
    //                 // background-color: #dfdfdf3b;
    //             }

    //             >.hiddenInput{
    //                 display: none;
    //             }
    //         }

    //     }



    // }



}