.pageBodyCounters{
    font-size: 1em;
    height: 100%;
    width: 21em;
    padding: 0 0.5em;

    .PBC_counter_title{
        font-size: .85em;
        padding: .4em 2em;
        color: #fff;
        background-color: #ffffff14;
    }


}