.PB_AddButton{
    font-size: 0.8em;
    padding: 0.4em 1em;
    border-radius: 0.1em;
    border: 1px solid #a3a3a3bd;
    color: #ffffff;
    cursor: pointer; 
    user-select: none;
    margin: 0 0 0 0.5em;

    .PB_AddButton_icon{
        margin-right: 0.2em;
    }

}

.PB_AddButton:hover{
    background-color: #a3a3a3bd;
    border: 1px solid #b7b7b7;
}

.PB_AddButton:active{
    span{
        color: #cbcbcb;
    }
}