.filesList{
    font-size: 1em;
    flex-grow: 1;
    max-width: 100%;
    height: calc( 100vh - 4.6em );
    // background-color: #76cc4eb9;
    position: relative;
    margin: 0 0.5em;
    border-radius: 0.1em;

    .FS_top_panel{
        font-size: 1em;
        height: 2em;
        // background-color: #76cc4eb9;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        position: relative;
    }

    .FS_top_list_actions{
        font-size: 1em;
        height: 1.6em;
        background-color: #4eccac4a;

        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;

        .FS_top_list_actions_right{
            font-size: 1em;

            display: flex;
            justify-content: flex-end;
            align-items: center;
            align-content: center;
            position: relative;
            flex-grow: 1;
            max-width: 100%;
        }
    }

    .FS_file_items{

        font-size: 1em;
        // height: calc( 100vh - 7.2em );
        height: calc( 100vh - 9em );

        // background-color: #a5421ae5;
        padding: 0.5em;
        position: relative

    }

    
}