.ExportFilterList{
    font-size: 1em;

    .S_DExcelComponent_header{
        font-size: .8em;
        padding: 0.2em 0.4em;
        color: #636363;
    }

    .S_DExcelComponent_listWrap{
        font-size: 1em;
        height: 45vh;
        padding: 0.5em 0;
    }
}