.LE_EventNameInput{
    font-size: 1em;
    margin-right: 1em;
    flex-grow: 1;
    max-width: 20em;

    input{
        font-size: 0.8em;
        padding: 0.3em 1em;
        // width: 20em;
        width: calc( 100% - 2em );
        text-align: left;
        line-height: 1.4em;
        border: 1px solid #34343400;
        outline: none;
        
    }
}