.PR_ASC_SelectEventsList{
    font-size: 1em;
    margin: 0.5em 0;
    padding: 0.2em 0;

    // display: flex;
    // justify-content: center;
    // align-items: center;
    // align-content: center;

    background-color: red;

    
   

}