.AC_AllCounterTable{
    font-size: 1em;
    height: 100%;
    padding: 0 3em 0 0;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;

    >table {
        font-size: 1em;
        border-collapse: collapse;
        // width: 100%;

        z-index: 10;

        thead{
            font-size: 0.9em;
            width: 100%;
            // background-color: #dfdfdf;

            tr{
                font-size: 1em;
                // opacity: 0;
                th {
                    font-size: 0.7em;
                    // border: 1px solid #c3c3c3;
                    padding: 0.2em;
                    // background-color: #dfdfdf;
                    // opacity: 0;
                    white-space: preserve nowrap;
                    overflow: hidden;
                    color: #adadad;
                }
            }

            .th_count{
                color: #4284d9;
            }
        }

        tbody{
            font-size: 1em;
            width: 100%;
            // background-color: #efefefb8;
            // border: 1px solid #e5e5e5;
            tr{
                font-size: 0.75em;
                padding: 0.1em 0;
                td{
                    font-size: 1em;
                    position: relative;
                    padding: 0.1em 0.1em;
                    input{
                        font-size: .8em;
                        padding: .1em 0em;
                        border: 1px solid #e4e4e4;
                        // border-width: 0px;
                        // background-color: #ffffff;
                        // line-height: 1.6em;
                        // text-indent: 0.4em;
                        outline: none;
                        color: #b1b1b1;
                        border-radius: .1em;
                        font-family: Open Sans Semibold;
                        width: 7em;
                        text-align: center;
                    }

                    .td_count{
                        color: #4284d9;
                    }
                    .td_duration{
                        color: #12855b;
                    }
                    .td_duration_sec{
                        color: #4b4b4b;
                    }
                    .td_duration_proc{
                        color: #4b4b4b;
                    }

                    .proc_znak{
                        font-size: 0.75em;
                        color: #9b9b9b;
                        position: absolute;
                        width: 1em;
                        // height: 100%;
                        top: 0.5em;
                        right: 0.6em;
                        font-family: Open Sans Semibold;
                    }

                }
                .td_name{
                    font-size: 0.9em;
                    padding-right: 0.6em;
                    text-align: right;
                }
            }
            .AC_AllCounterTable_tr_all{
                .td_name{
                    color: #1fa552;
                    
                }
                td{
                    input{
                        background-color: #e9fff2;
                    }
                }

            }
            .AC_AllCounterTable_tr_premiere{
                .td_name{
                    color: #6f71cb;
                    
                }
                td{
                    input{
                        background-color: #f2f2ff;
                    }
                }
            }
            .AC_AllCounterTable_tr_repeat{
                .td_name{
                        color: #585858;
                }
                td{
                    input{
                        background-color: #fcfcfc;
                    }
                }
            }
        }
    }

}