.AppearanceOfGridEventParts{
    font-size: 1em;


    .AOASGE_item{
        font-size: 1em;
        margin: 1em 0;
        background-color: #e3e3e347;
        padding: 0.8em .3em;
        border-radius: .1em;

       
        


    }
}