.AC_EventsTree{
    table{
        tbody{
            tr{
                td.TdCategory{
                    // font-size: 0.9em;
                    padding: 0.2em;

                    // display: flex;
                    // justify-content: flex-start;
                    // align-items: center;
                    // align-content: center;
                    min-width: 14vw;
                    border: 1px solid #e5e0e0;


                    >span{
                        font-size: 0.75em;
                        padding: 0.2em 0.9em;
                        margin: 0 0.3em;
                        border-radius: 0.1em;
                    }
                }
            }
        }
    }
}