.SEC_AddFreeReleaseItem{
    font-size: 1em;
    margin-right: 0.4em;
    flex-grow: 0;
    width: 5em;
    // max-width: 10em;
    // flex-grow: 1;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    .SEC_AddFreeReleaseItem_text{
        font-size: 0.6em;
        // width: 4em;
        color: #1c8151;
        // background-color: #13ab63;
        text-align: center;
        padding: 0.15em 0.6em;
        border-radius: 0.1em;
        border: 1px solid #13ab63;
        cursor: pointer;
        user-select: none;
    }
    .SEC_AddFreeReleaseItem_text:hover{
        color: #e6e6e6;
        background-color: #7dbb9e;
    }

    .SEC_AddFreeReleaseItem_text:active{
        color: #ff9b9b;
    }

    >.hiddenInput{
        display: none;
    }

}