.layoutBodyLeftArea{
    font-size: 1em;
    height: calc( 100vh - 7.4em );
    background-color: #40949400;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    .LBLA_body{
        display: none;
        font-size: 1em;
        // height: calc( 100vh - 4.6em );
        height: calc( 100vh - 7.4em );

        width: 22em;
    }

    .LBLA_body.open{
        display: block;
    }

    .LBLA_btn{
        font-size: 1em;
        // height: calc( 100vh - 4.6em );
        height: 100%;
        width: 2em;
        background-color: #ffffff26;

        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        cursor: pointer;
        user-select: none;

        span{
            font-size: 2.4em;
            color: #9b9b9b;
        }
    }
    .LBLA_btn:hover{
        background-color: #ffffff38;
        span{
            color: #7e7e7e;
        }
    }
}

