.CGETT_timeTrack{
    .CGETT_wrap{
        .CGETT_time_space{
            font-size: 1em;
            height: 100%;
            width: 3em;
            text-align: center;
            flex-grow: 0;
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: flex-end;
            align-content: flex-end;
            height: 3.4em;
            padding-bottom: 0.7em;

            span{
                font-size: 0.6em;
                padding: 0 0.3em;
            }
        }
    }
}