.schEventItemTime{


    .SEC_time{
        font-size: 0.7em;
        color: #343434;
        background-color: #ffffff;
        padding: 0.2em 0.5em 0.1em;
        margin: 0em 1.2em 0 1em;
        width: 4.6em;
        border-radius: 0.1em;
        flex-grow: 0;
        text-align: center;

        cursor: pointer;

        position: relative;
    }

    .SEC_time:hover{
        color: #343434;
        background-color: #e5e3e3;
    }

    .SEC_time.isKeyPoint{
        background-color: #ab3928;
        color: #ffffff;
    }

    .SEC_time.isKeyPoint:hover{
        background-color: #ef6a56;
        color: #ffffff;
    }

    span.truePlanTime{
        font-size: 0.84em;
        position: absolute;
        top: calc( 100% + 0.2em );
        right: 1em;
        color: #6f6868;

    }
}