.S_DExcelComponent_FilterItem{
    font-size: 1em;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 0.1em 0.5em 0.1em 2em;
    // padding: 0.1em 0.5em 0.1em 0.5em;
    margin: 0.1em 0.2em;
    

    .chackBtn{
        font-size: 0.8em;
        width: 1em;
        height: 1em;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        border: 1px solid #bfbfbf;
        border-radius: 0.1em;
        margin-right: 0.6em;
        // margin-top: 0.15em;

        span{
            font-size: 0.6em;
            color: #20b92d;
        }

    }

    .eventName{
        font-size: 1em;
        flex-grow: 0;

        margin-bottom: 0.15em;

        span{
            font-size: .65em;
            padding: .2em .8em;
            border-radius: 0.1em;
            border-width: 1px;
            border-style: solid;
        }
    }

    .whatTake{
        font-size: 1em;
        flex-grow: 1;
        max-width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        align-content: center;

        span{
            font-size: 0.65em;
            padding: 0.2em 0.8em;
            border-radius: 0.1em;
            border: 1px solid #1b6fb300;
            margin: 0 0.5em;
            cursor: pointer;
            user-select: none;
            
            color: #53adf7;
        }
        span.isActive{
            color: #1b6fb3;
            // text-decoration: underline;
            border: 1px solid #1b6fb3;
        }

        span:hover{
            color: #1b6fb3;
            text-decoration: underline;
            border: 1px solid #1b6fb3;
        }

        span:active{
            color: #0d5c9c;
            text-decoration: underline;
        }

    }
}

.S_DExcelComponent_FilterItem.isUsed{
    background-color: #ecf0eca6;
}