.AC_EventsTree{
    table{
        tbody{
            tr{
                td.TdIsPremiere{
                    // font-size: 0.9em;
                    padding: 0.2em;
                    text-align: center;
                    border: 1px solid #e5e0e0;

                    >span{
                        font-size: .6em;
                        padding: .1em .7em .15em;
                        border: 1px solid #6669e7;
                        background-color: #6f71cb;
                        color: #fcfcfc;
                        border-radius: .1em;
                        font-family: Open Sans Semibold;
                    }
                }
            }
        }
    }
}