.FRL_ActiveList_item{
    font-size: 0.9em;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 0.2em 0.8em;
    

    .FRL_ActiveList_item_name{
        font-size: .65em;
        color: #476edb;
        flex-grow: 2;
        max-width: 100%;

        text-overflow: ellipsis;
        // white-space: nowrap;
        overflow: hidden;
    }

    .FRL_ActiveList_item_duration{
        // font-size: .65em;
        // flex-grow: 0;
        // color: #ffffff;
        // margin: 0 1em 0 0em;
        // background-color: #959595;
        // padding: 0.3em 0.5em;
        // border-radius: 0.1em;
        // text-align: center;

        font-size: .72em;
        flex-grow: 0;
        color: #3d3d3d;
        margin: 0 1em 0 0em;
        background-color: #ebe6e6;
        padding: 0.2em 0.5em;
        border-radius: 0.1em;
        text-align: center;

        border: 1px solid #e3e0e0;
    }

    .FRL_ActiveList_item_count{
        font-size: .65em;
        flex-grow: 0;
        color: #ffffff;
        margin: 0 0em 0 0.5em;
        background-color: #7da4af;
        padding: 0.3em 0em;
        border-radius: 0.1em;

        width: 3em;
        min-width: 3em;

        text-align: center;
    }




}

.FRL_ActiveList_item:hover{
    background-color: #d1d1d16e;
}