.G_ANG_TimeSelected{
    font-size: 1em;
    padding: 1em 0.4em;
    margin-top: 2em;

    background-color: #aba9a914;
    border-radius: 0.1em;


    .G_ANG_TS_data{
        font-size: 1em;
    }

}

