.FRL_AddNewFiles{
    font-size: 1em;
    height: 13em;
    background-color: #dddddd;
    margin: 0.5em 0;

    .FRL_files{

        font-size: 1em;
        height: 6em;
        margin: 0 0.5em;

        display: flex;
        justify-content: flex-start;

        .FRL_filesWrap{
            font-size: 1em;

            background-color: #ffffff;
            border: 1px solid #cbcbcb;
            border-radius: 0.1em;
            flex-grow: 1;
            max-width: 100%;

            overflow: hidden;

            .FRL_file_item{
                font-size: 1em;

                display: flex;
                justify-content: flex-start;
                align-items: center;
                align-content: center;

                margin: 0.2em 0;
                padding: 0.1em 1em;

                >input{
                    font-size: 0.65em;
                    padding: 0.15em 0;
                    color: #575757;
                    text-indent: 0.2em;
                    text-align: left;
                    border: #34343400;
                    border-radius: 0.1em;
                    outline: none;
                    margin: 0em 0.5em;
                    max-width: 100%;
                    flex-grow: 1;
                    background-color: #ffffff00;
                }

                .FRL_eventName{
                    font-size: 0.65em;
                    padding: 0.2em 0.8em;
                    border-radius: 0.1em;
                    border-width: 1px;
                    margin: 0 0.6em;
                }

                .FRL_file_item_dur{
                    font-size: 0.65em;
                    padding: 0.2em 0;
                    color: #14973d;
                    background-color: #ffffff21;
                    border-radius: 0.1em;
                    width: 5em;
                    flex-grow: 0;
                    text-align: center;
                }

                .FRL_file_item_remove{
                    font-size: 0.7em;
                    width: 1em;
                    height: 1em;
                    border-radius: 0.1em;
                    padding: 0.1em 0.2em;
                    color: rgb(253, 133, 133);
                    flex-grow: 0;

                    cursor: pointer;
                    user-select: none;


                }
                .FRL_file_item_remove:hover{
                    color: red;
                }
            }

            .FRL_file_item:hover{
                background-color: rgba(216, 216, 216, 0.514);
            }




        }

        .FRL_add_right_buttons{
            font-size: 1em;
            flex-grow: 0;
            width: 15em;

            font-size: 1em;

        //     .FRL_add_from_folder{
        //     // font-size: 1em;
        //     // flex-grow: 0;
        //     // width: 15em;

        //     // font-size: 1em;

        //     >span.FRL_btn{
        //         font-size: 0.68em;
        //         color: #5b5b5b;
        //         padding: 0.16em 1em;
        //         border-radius: 0.1em;
        //         border: 1px solid #d1d1d1;
        //         background-color: #ededed;
        //         cursor: pointer;
        //         user-select: none;
        //             margin: 0.5em 1em;
        //     }

        //     >span.FRL_count{
        //         font-size: 0.6em;
        //         color: #1d5772;
        //         padding: 0.16em 0.1em;
        //         border-radius: 0.1em;
        //         border: 1px solid #d1d1d100;
        //         background-color: #ededed00;
               
        //         margin: 0.5em 0em;
        //     }

        //     >span.FRL_btn:hover{
        //         color: #5b5b5b;
        //         border: 1px solid #bfbfbf;
        //         background-color: #dfdfdf3b;
        //     }
        //     >span.FRL_btn:active{
        //         color: #1b1a1a;
        //         // border: 1px solid #bfbfbf;
        //         // background-color: #dfdfdf3b;
        //     }

        //     >.hiddenInput{
        //         display: none;
        //     }
        // }
        }

        

        

    }
    .FRL_button_wrap{
        font-size: 0.81em;
    }


}