.CGETT_PointControlSlider{
    font-size: 1em;
    height: 4em;
    width: 3px;
    background-color: #c35a8a;
    position: absolute;
    top: 0;
    // left: 50%;
    border-radius: 3px;
    cursor: pointer;
}
