.DDW_CurrentDatePointsFormat{
    font-size: 1em;


    input{
        font-size: 0.75em;
        line-height: 1.4em;
        text-align: center;
        margin: 0.2em 0.5em;
        width: 8em;
        border: 1px solid #e5e5e5;
        outline: none;
        color: #f73d3d;

    }
}