.DDW_ResultPoints{
    font-size: 1em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 0.4em;

    h2{
        font-size: 0.7em;
        color: #575757;
        margin: 0 0.3em;
        padding: 0.2em 0;
        font-family: 'Courier New', Courier, monospace;
    }

    span{
        font-size: 0.7em;
        color: #575757;
        margin: 0 0.3em;
        font-family: 'Courier New', Courier, monospace;
        padding: 0.2em 0;
    }

    span.DDW_ResultPoints_clear{
        font-size: 0.65em;
        color: #1e4ed1;
        margin: 0 0.4em;
        font-family: 'Courier New', Courier, monospace;
        padding: 0.2em 0;
        cursor: pointer;
        user-select: none;
    }
    span.DDW_ResultPoints_clear:hover{
        text-decoration: underline;
    }
    span.DDW_ResultPoints_clear:active{
        text-decoration: none;
        color: #4b74e4;
    }

    input{
        font-size: 0.8em;
        padding: 0.2em 0.8em;
        border: 1px solid #34343410;
        border-radius: 0.1em;
        outline: none;
        margin: 0.4em 0.5em;
        width: 4em;
    }


}