.layoutTopPanelContainer{
    font-size: 1em;
    height: 2.6em;
    // background-color: #c3c1c14d;
    z-index: 2000;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 0 0.5em 0 2em;

    .LTP_left{
        font-size: 1em;
    }

    .LTP_right{
        font-size: 1em;
        flex-grow: 1;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
    }

    
}