.LC_AllColorsList{
    font-size: 1em;
    width: fit-content;
    // height: 100%;
    // background-color: #6fc93c;
    min-height: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    // align-content: center;

    >div{
        font-size: 1em;
        width: 1em;
        height: 1em;
        margin: 0.2em;
        // border-radius: 0.1em;
        // cursor: pointer;
        // user-select: none;

        // -webkit-box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.16);
        // -moz-box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.16);
        // box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.16);
        display: flex;
        justify-content: center;
        align-items: center;
        // align-content: center;

        >div{
            font-size: 1em;
            width: 0.8em;
            height: 0.8em;
            border-radius: 0.1em;

            cursor: pointer;
            user-select: none;
    
            -webkit-box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.16);
            -moz-box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.16);
            box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.16);

            // transition: width 0.1s linear, height 0.1s linear;
        }

    }

    >div:hover{

        >div{
            width: 1em;
            height: 1em;
        }


    }
}