.RB_BufferList{
    font-size: 1em;
    overflow: hidden;

    .RB_BufferList_item{
        font-size: 1em;
        margin: 0.1em 0.5em;
        padding: 0.2em 0.4em;
        background-color: #ffffff4f;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        cursor: grab;

        .RB_BufferList_item_left{
            font-size: 1em;
            flex-grow: 1;
            // max-width: 100%;

            display: flex;
            justify-content: flex-start;
            align-items: center;
            align-content: center;

            >.GE_id{
                font-size: 0.5em;
                width: 2.5em;
                max-width: 2.5em;

                color: #8d8b8b;
                flex-grow: 2;
                margin-right: 0.5em;
            }

            >.time{
                font-size: 0.55em;
                width: 4.5em;
                background-color: #ffffff;
                color: #343434;
                padding: 0.1em 0;
                text-align: center;
                margin-right: 0.4em;
                border-radius: 0.1em;
            }
            >.name{
                font-size: 0.6em;
                padding: 0.1em 0.3em;
                color: #343434;
                flex-grow: 1;
                width: 10em;
                // max-width: calc( 100% - 20em );
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

        }


        .RB_BufferList_item_right{

            font-size: 1em;
            flex-grow: 0;

            display: flex;
            justify-content: flex-end;
            align-items: center;
            align-content: center;


            >.duration_time{
                font-size: 0.55em;
                padding: 0.1em 0.3em;
                color: #32a316;
                width: 4.5em;
                background-color: #ffffff;
                border-radius: 0.1em;
                text-align: center;
                margin-left: 0.2em;
            }

            >.char_not{
                font-size: .55em;
                padding: .1em .3em;
                color: #ffffff;
                // width: 2em;
                background-color: #932213;
                text-align: center;
                border-radius: 0.1em;
                margin-right: 0.2em;
                flex-grow: 0;
            }
        }





    }

    .RB_BufferList_item:hover{
        background-color: #ffffff85;
    }
    .RB_BufferList_item:active{
        background-color: #ffffff85;
        cursor: grabbing;

        .RB_BufferList_item_left{
           >.name{
                color: #b64242;
            } 
        }
        
    }
}