.RB_BufferList{
    font-size: 1em;
    overflow: hidden;

    .RB_BufferList_item{
        font-size: 1em;
        margin: 0.1em 0.5em;
        padding: 0.2em 0.4em;
        background-color: #ffffff4f;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        cursor: grab;

        >.time{
            font-size: 0.6em;
            width: 4.5em;
            background-color: #ffffff;
            color: #343434;
            padding: 0.1em 0;
            text-align: center;
            margin-right: 0.4em;
            border-radius: 0.1em;
        }
        >.name{
            font-size: 0.6em;
            padding: 0.1em 0.3em;
            color: #343434;
            flex-grow: 1;
            max-width: calc( 100% - 20em );
            overflow: hidden;
            white-space: preserve nowrap;
        }
        >.eventName{
            font-size: 0.6em;
            padding: 0.1em 0.3em;
            color: #ffffff;
            flex-grow: 1;
            max-width: calc( 100% - 19em );
            overflow: hidden;
            text-align: right;
            white-space: preserve nowrap;
        }
        >.duration_name{
            font-size: 0.5em;
            padding: 0.2em 0.3em;
            color: #030303;
            width: 3em;
            text-align: center;
            background-color: #ffffff66;
            border-radius: 0.1em;
            margin-right: 0.2em;

        }
        >.duration_time{
            font-size: 0.55em;
            padding: 0.1em 0.3em;
            color: #32a316;
            width: 4.5em;
            background-color: #ffffff;
            border-radius: 0.1em;
            text-align: center;
        }
        >.char_name{
            font-size: 0.5em;
            padding: 0.1em 0.3em;
            color: #1b387d;
            width: 4em;
            text-align: center;
        }
        >.char_yes{
            font-size: .55em;
            padding: .1em .3em;
            color: #ffffff;
            width: 2em;
            background-color: #0e8d1d;
            text-align: center;
            border-radius: 0.1em;
        }
        >.char_not{
            font-size: .55em;
            padding: .1em .3em;
            color: #ffffff;
            width: 2em;
            background-color: #932213;
            text-align: center;
            border-radius: 0.1em;
        }
    }

    .RB_BufferList_item:hover{
        background-color: #ffffff85;
    }
    .RB_BufferList_item:active{
        background-color: #ffffff85;
        cursor: grabbing;
        >.name{
            color: #b64242;
        }
    }
}