$active_background_color: #c2faff6e;
$active_border_color: #81f1fcab;

$text_color_few: #4db510;
// $text_color_many: #aec71f;
$text_color_many: #f8b230;

$text_color_overflowing: #dd0808;



.SB_tableTypeDetaile{
    font-size: 1em;
    height: 77vh;
    // height: calc( 100% - 5em );
    width: 97vw;
    // display: flex;
    // justify-content: flex-start;

    
    overflow: scroll;
    position: relative;

    .SB_tableTypeDetaile_body{
        font-size: 1em;
        width: fit-content;

        .SB_TTD_row{
            font-size: 1em;
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: stretch;
            align-content: stretch;

            .SB_TTD_cellWrap{
                font-size: 1em;
                min-width: 16em;
                width: 16em;

                margin: 0 0.2em;
                background-color: #fafdff;
                min-height: 2em;
            }

            .SB_TTD_cellWrap.mode_short{
                min-width: 2.4em;
                width: 2.4em;
                margin: 0 0.1em;
            }



        }

        .SB_TTD_row:has( .SB_TTD_MatrixFirstCell>span:hover) {


            .SB_TTD_MatrixCell{
                background-color: $active_background_color;
                border-color: $active_border_color;
            }
        }

        
        .SB_TTD_row:has( .SB_TTD_MatrixCell:hover) {

            .SB_TTD_MatrixFirstCell{
                span{
                    background-color: #4392af;
                    color: #ffffff;
                    border-color: #4392af;
                };
            }

            .SB_TTD_cellWrap.mode_short{
                .SB_TTD_MatrixCell:first-child{
                    background-color: $active_background_color;
                    border-color: $active_border_color;
                }
            }

        }


    }




    
}