.ExportExcelViewType{
    font-size: 1em;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    padding: 0em 0.5em;

    >h4{
        font-size: 0.7em;
        color: rgb(83, 83, 83);
        margin: 0 0.5em;
    }


    .EXEVT_btn{
        font-size: 0.7em;
        padding: 0.18em 0.6em;
        border: 1px solid #34343400;
        border-radius: 0.1em;
        cursor: pointer;
        user-select: none;
        color: #018002;
        margin-right: 0.5em;
    }

    .EXEVT_btn_classic{
        font-style: italic;
        // font-weight: bold;
        // font-style:oblique;


    }

    .EXEVT_btn:hover{
        background-color: #effcef;
    }

    .EXEVT_btn.isActive{
        border-color: #25be26;
    }


}