.removeSegmentButton{
    font-size: 1em;
    flex-grow: 0;
    // width: 3em;
    height: 100%;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;

    position: relative;


    .RIB_btn{
        font-size: 0.86em;
        width: 1.4em;
        height: 1.4em;
        background-color: #ffffff1a;
        border-radius: 0.1em;
        margin: 0;
        cursor: pointer;
        user-select: none;
        // margin: 0 0.4em;
    
        span{
            font-size: 1em;
            line-height: 1.4em;
            color: #9f9e9e;
        }
    
    }
    
    .RIB_btn:hover{
        // background-color: #ffffff5e;
        background-color: #e93b3b;

        span{
            color: #ffffff;
        }
    }
    .RIB_btn:active{
        span{
            color: #ee9999;
        }
    }

}