
.AC_TableHeaderRow_TopFixed{
    font-size: 1em;
    width: 100%;
    // background-color: #4ee91e;

    position: absolute;
    top: -1px;
    left: 0px;
    z-index: 100;
    // padding: 0 0.5em 0.5em 0.5em;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    
    >span{
        font-size: 0.7em;
        border-top: 1px solid #c3c3c3;
        border-left: 1px solid #c3c3c3;
        border-bottom: 1px solid #c3c3c3;
        border-right: 1px solid #c3c3c300;
        padding: 0.22em 0.2em;
        background-color: #dfdfdf;
        text-align: center;
        white-space: preserve nowrap;
        overflow: hidden;
    }
    >span:last-child{
        border-right: 1px solid #c3c3c3;
    }
}