.SEC_CharDay{
    font-size: 1em;
    margin: 0 0.5em;

    border-radius: 0.1em;
    // padding: 0.5em;
    font-size: 1em;
    margin: 0 .5em;
    background-color: #c4e2fb45;
    min-height: 70vh;
    width: 16em;

    // flex-grow: 1;
    padding: 0 0 0.2em 0;


    // position: relative;

    
}