.schEventContainer{
    font-size: 1em;
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;

    padding: 0.1em 0em;
    position: relative;



    .schEventContainerWrap{
        font-size: 1em;
        // margin: 0em 1em;
        padding: 0em .1em;
        // border-radius: 0.1em;
        max-width: 90vw;
        width: 100%;

        background-color: #ffffff14;
        border-radius: 0.1em;
        border: 1px solid #00000000;

        padding: 0.3em 0.4em;

        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: center;

        .schId{
            font-size: 1em;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;

            flex-grow: 0;
            min-width: 1.8em;
            height: 100%;

            span{
                font-size: 0.5em;
                color: #c1c1c1;
            }

        }

        .schEventItemBody{
            font-size: 1em;
            flex-grow: 1;
            max-width: 100%;
        }
    }

    .schEventContainerWrap.isCompletd{
        background-color: #f5f5f585;

    }

    .schEventContainerWrap.isCompletd:has( .RIB_btn:hover ){
        background-color: #ff4d4d6b;

    }


    




    

    .schEventContainerWrap:hover{
        // background-color: #ffffff30;

        .schEventItemTime{
            .truePlanTime{
                color: #1f1f1f;
            }
        }
    }

    .errorTime{
        background-color: #d30000f7;
        .schEventItemRemains{
            .text{
                color: #ffffff;
            }
        }
    }

}

.schEventContainer.isLighter{
    .schEventContainerWrap{
        background-color: #89fff765;
    }
}

.schEventContainer.isLighter_2{
    .schEventContainerWrap{
        background-color: #97fef7d6;
        .schId{
            span{
                color: #074631;
            }
        }
    }
}

