.ACE_ItemUserId{
    font-size: 1em;
    height: 100%;
    margin-right: 0.2em;
    padding: 0.2em 0.4em;

    flex-grow: 0;

    position: relative;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    border-right: 1px solid #f7feff;

    input{
        font-size: 0.7em;
        padding: 0.45em 0.1em;
        border: 1px solid #ffffff00;
        border-radius: 0.1em;
        width: 2.2em;
        background-color: #ffffff00;
        outline: none;
        text-align: center;
        color: #a1a1a1;
    }

    input:focus{
        background-color: #ffffffd0;
    }

}