.LP_Day_point{
    font-size: 1em;
    position: absolute;
    left: 0;
    top:-10%;
    width: 100%;
    height: 1em;

    background-color: #d4dde98a;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;


    .LP_Day_time{
        font-size: 0.6em;
        background-color: #005dff0f;
        padding: 0.1em 0.5em;
        margin: 0 0.1em 0 .4em;
        border-radius: 0.1em;
        line-height: 1em;
        font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
        color: #2c4349;
        flex-grow: 0;
    }

    .LP_Day_description{
        font-size: 0.6em;
        border: 1px solid #34343400;
        line-height: 1.3em;
        padding: 0 0.6em;
        display: inline-block;
        text-overflow: ellipsis; 
        white-space: nowrap; 
        overflow: hidden; 
        width: fit-content;
        max-width: calc( 100% - 6.2em );

    }

   

    
}

