 .AOASGE_setting{
    font-size: 1em;

    .AOASGE_setting_buttons{
        font-size: 1em;

        display: flex;
        justify-content: flex-start;

        .AOASGE_time{

        }

        .AOASGE_remove{

        }
    }
}