.AC_EventsTree{
    table{
        tbody{
            tr{
                td.TdFileName{

                    border: 1px solid #e5e0e0;
                    vertical-align: middle;

                    >div{
                        font-size: 1em;
                        padding: 0em 0.2em;

                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        align-content: center;
                        // height: 100%;

                            
                        >.TdFileName_inp{
                            font-size: 0.6em;
                            padding: 0.35em 0.9em;
                            margin: 0 0.3em;
                            border-radius: 0.1em;
                            background-color: #ffffff00;
                            color: #979797;
                            width: calc( 100% - 4.4em );
                            border: 1px solid #c9c9c900;
                            outline: none;
                        }

                        >.TdFileName_inp.isUsed{
                            font-size: 0.6em;
                            padding: 0.35em 0.9em;
                            margin: 0 0.3em;
                            border-radius: 0.1em;
                            background-color: #ffffff;
                            color: #343434;
                            width: calc( 100% - 4.4em );
                            border: 1px solid #c9c9c9;
                            outline: none;
                        }
                    }

                }

            }
        }
    }
}