.EARL_FilterButtons{
    font-size: 0.9em;

    background-color: #dcebef85;
    border: 1px solid #7a7ae32e;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

    position: relative;
    padding: 0.3em;

    .EARL_Filter_btn{
        font-size: 0.7em;
        padding: 0.1em 0.8em;
        border-radius: 0.1em;
        margin: 0.3em 0.6em;
        cursor: pointer;
        user-select: none;
        border: 1px solid #ffffff00;
    }
    .EARL_Filter_btn.isActive{
        box-shadow: 0 0 3px 2px #7a86e9;
        border: 1px solid #ffffff;
    }

    .EARL_Filter_btn:hover{
        box-shadow: 0 0 3px 2px #7a86e9;
        border: 1px solid #ffffff;  
    }

}