.CGETT_timeTrack{
    .CGETT_wrap{
        .CGETT_track_wrap{
            .CGETT_points_track{
                font-size: 1em;
                margin: 0;
                height: 2em;

                position: relative;
                z-index: 200;
            }
        }
    }
}