.AC_EventsTree{
    table{
        tbody{
            tr{
                td.TdCount{
                    // font-size: 0.9em;
                    // padding: 0.2em;
                    text-align: center;
                    border: 1px solid #e5e0e0;
                    width: 3em;
                    opacity: 0;

                    >input{
                        font-size: .6em;
                        padding: .23em 0em;
                        border: 1px solid #e4e4e4;
                        // border-width: 0px;
                        background-color: #ffffff;
                        line-height: 1.6em;
                        text-indent: 0.4em;
                        outline: none;
                        color: #b1b1b1;
                        border-radius: .1em;
                        font-family: Open Sans Semibold;
                        width: 4em;
                        text-align: center;

                    }
                }
                td.TdCount.isUsed{
                    opacity: 1;
                    >input{
                        // color: #4b4b4b;
                        color: #4284d9;
                    }
                }
            }
        }
    }
}