$tbody-tr-height: 1.9em;

.AC_EventsTree{
    font-size: 1em;

    height: calc( 93vh - 6.4em );
    overflow: scroll;

    table {
        font-size: 1em;
        border-collapse: collapse;
        width: 100%;

        z-index: 10;

        thead{
            font-size: 1em;
            width: 100%;
            background-color: #dfdfdf;
            
        }

        tbody{
            font-size: 1em;
            width: 100%;
            background-color: #efefefb8;
            border: 1px solid #e5e5e5;
            tr{
                font-size: 1em;
                // height: 1.9em;
                // height: $tbody-tr-height;


                td{
                    font-size: 1em;
                    height: $tbody-tr-height;
                    // opacity: 0.2;
                    // text-align: center; 
                    // vertical-align: middle;
                }

            }
        }
    }



    
}