
.SEC_ShortModeButton{
    font-size: 1em;
    width: 4em;
    padding: 0.38em 0.6em;
    border: 1px solid #00000000;
    border-radius: 0.1em;
    // background-color: #57a972;
    background-color: #969997;



    margin-right: 1em;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    cursor: pointer;
    user-select: none;


    .text{
        font-size: 0.65em;
        color: #fdfdfd;
        margin: 0.1em 0.5em 0 0;
    }
    .status{
        font-size: 0.65em;
        width: 2.8em;
        text-align: center;
        color: #547359;
        padding: 0.1em 0.3em;
        background-color: #ffffff;
        border-radius: 0.1em;
    }

}

.SEC_ShortModeButton:hover{
    // background-color: #168d3e;
    background-color: #969997;
}

.SEC_ShortModeButton:active{
    // .icon{
    //     color: #cbcbcb;
    // }
}