.CTS_ReleasesItemItem{
    font-size: 1em;

    .CTS_RI_Item{
        font-size: 1em;
        padding: 0.2em 0.2em 0.2em 0.2em;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        background-color: #ffffffe0;
        border: 1px solid #2d633691;
        border-radius: 0.1em;
        margin: 0.2em 0;

        >.CTS_RI_Item_time{
            font-size: 1em;
            flex-grow: 0;
            height: 1em;

            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;

            position: relative;

            // .CTS_RI_Item_time_is_app{
            //     font-size: 0.58em;
            //     color: #42424261;
            //     padding: 0.2em 0.5em;
            //     text-align: center;
            //     position: absolute;
            //     top: 0;
            //     left: 100%;
            // }

            .CTS_RI_Item_time_fact{
                font-size: 0.6em;
                color: #424242;
                background-color: #ebbaba87;
                padding: 0.1em 0.4em;
                margin: 0 0.4em;
                width: 4.6em;
                border-radius: 0.1em;
                flex-grow: 0;
                text-align: center;
                border: 1px solid #e7c1c1c9;
            }

            .CTS_RI_Item_time_plan{
                font-size: 0.58em;
                color: #42424261;
                padding: 0.3em 0.5em;
                text-align: center;
                position: absolute;
                top: 0;
                right: calc( 100% + 0.4em );
            }
        }



        >span.arrow{
            font-size: 0.65em;
            color: #5f5f5f;
            margin: 0.1em 0.2em;
            flex-grow: 0;
            width: 1.3em;
            text-align: center;
            background-color: #ffffffed;
            border: 1px solid #2d63368a;
            border-radius: 0.1em;
            opacity: 0;
            cursor: pointer;
            user-select: none;
            padding: 0.1em 0.1em 0 0;
        }

        >span.arrow:hover{
            color: #232121;

            border: 1px solid #a9a9a9;

        }

        >span.arrow:active{
            color: #b83131;

        }

        >span.name{
            font-size: 0.55em;
            color: #343434;
            font-weight: bold;
            margin: 0.1em 0 0.1em 0.4em;
            flex-grow: 1;
            max-width: 100%;

            .air_notes{
                margin-left: 1em;
                color: #b1b1b1;
            }
        }

        >span.is_app{
            font-size: 0.58em;
            color: #873434;
            font-weight: bold;
            margin: 0.1em 0.3em;
            flex-grow: 0;
            padding: 0.1em 0.5em;
            background-color: #ffeaeab5;
            border-radius: 0.1em;
            border: 1px solid #ffcdcd;
        }
        >span.duration{
            font-size: 0.55em;
            color: #343434;
            font-weight: bold;
            margin: 0.1em 0.3em;
            flex-grow: 0;
            // max-width: 100%;
        }

        >span.remove{
            font-size: 0.55em;
            flex-grow: 0;
            padding: 0.15em 0.3em;
            border-radius: 0.1em;
            cursor: pointer;
            user-select: none;
            // background-color: red;
            color: #df7070;
            width: 3.4em;
            text-align: center;
        }

        >span.remove.removeHidden{
            opacity: 0;
            cursor: default;
        }
        >span.remove:hover{
            color: #eeeeee;
            background-color: #e16a6a;
        }
        >span.remove:active{
            color: #d49191;
        }
    }

    .CTS_RI_Item:hover{
        background-color: #ffffff;

        >span.arrow{
            opacity: 1;
        }

        >.CTS_RI_Item_time{

            // .CTS_RI_Item_time_is_app{
            //     display: none;
            // }
            .CTS_RI_Item_time_plan{
                color: #313131;
            }

        }

    }
}